{{page-title "Form"}}
{{breadcrumb "Form" route="comps.form"}}

<Heading
  @title="Form"
  @subtitle="Examples and usage guidelines for form control styles, layout options, and custom components for creating a wide variety of forms."
/>

<Subheading @title="Form check" />

<p>Value: {{if this.check "True" " False"}}</p>

<Snippet @name="form-check.hbs">
  {{! BEGIN-SNIPPET form-check }}
  <Form::Check
    @value={{this.check}}
    @label="Label"
    @identifier="check"
    @isRequired={{true}}
    @help="This is an example of help."
    @invalidFeedback="This is an example of invalid feedback."
    @onChange={{fn (mut this.check)}}
  />
  {{! END-SNIPPET }}
</Snippet>

<Subheading @title="Form date input" />

<p>Value: {{timestamp this.date}}</p>

<Snippet @name="form-date-input.hbs">
  {{! BEGIN-SNIPPET form-date-input }}
  <Form::DateInput
    @value={{this.date}}
    @label="Label"
    @identifier="dateInput"
    @isRequired={{true}}
    @help="This is an example of help."
    @invalidFeedback="This is an example of invalid feedback."
    @onChange={{fn (mut this.date)}}
  />
  {{! END-SNIPPET }}
</Snippet>

<Subheading @title="Form file dropzone" />

<p>
  Value:
  <ul>
    {{#each this.files as |file|}}
      <li>{{file.name}}</li>
    {{/each}}
  </ul>
</p>

<Snippet @name="form-file-dropzone.hbs">
  {{! BEGIN-SNIPPET form-file-dropzone }}
  <Form::FileDropzone
    @titleLabel="Drag and Drop Your Files Here"
    @subtitleLabel="Or select a file from your computer…"
    @activeTitleLabel="Drop to Upload"
    @onCreate={{this.create}}
  />
  {{! END-SNIPPET }}
</Snippet>

<Subheading @title="Form file input" />

<p>Value: {{this.file.name}}</p>

<Snippet @name="form-file-input.hbs">
  {{! BEGIN-SNIPPET form-file-input }}
  <Form::FileInput
    @label="Label"
    @identifier="file"
    @isRequired={{true}}
    @help="This is an example of help."
    @invalidFeedback="This is an example of invalid feedback."
    @onChange={{fn (mut this.file)}}
  />
  {{! END-SNIPPET }}
</Snippet>

<Subheading @title="Form HTML input" />

<p>Value: {{this.htmlValue}}</p>

<Snippet @name="form-html-input.hbs">
  {{! BEGIN-SNIPPET form-html-input }}
  <Form::HtmlInput
    @value={{this.htmlValue}}
    @label="Label"
    @identifier="htmlInput"
    @isRequired={{true}}
    @help="This is an example of help."
    @invalidFeedback="This is an example of invalid feedback."
    @editorLabel="Editor"
    @codeLabel="Code"
    @onChange={{fn (mut this.htmlValue)}}
  />
  {{! END-SNIPPET }}
</Snippet>

<Subheading @title="Form input" />

<p>Value: {{this.value}}</p>

<Snippet @name="form-input.hbs">
  {{! BEGIN-SNIPPET form-input }}
  <Form::Input
    @value={{this.value}}
    @label="Label"
    @identifier="input"
    @isRequired={{true}}
    @help="This is an example of help."
    @invalidFeedback="This is an example of invalid feedback."
    @onChange={{fn (mut this.value)}}
    placeholder="Placeholder"
  />
  {{! END-SNIPPET }}
</Snippet>

<Subheading @title="Form Markdown input" />

<p>Value: {{this.markdownValue}}</p>

<Snippet @name="form-markdown-input.hbs">
  {{! BEGIN-SNIPPET form-markdown-input }}
  <Form::MarkdownInput
    @value={{this.markdownValue}}
    @label="Label"
    @identifier="markdownInput"
    @isRequired={{true}}
    @help="This is an example of help."
    @invalidFeedback="This is an example of invalid feedback."
    @onChange={{fn (mut this.markdownValue)}}
    placeholder="Add your comment here…"
  />
  {{! END-SNIPPET }}
</Snippet>

<Subheading @title="Form number input" />

<p>Value: {{this.numberValue}}</p>

<Snippet @name="form-number-input.hbs">
  {{! BEGIN-SNIPPET form-number-input }}
  <Form::NumberInput
    @value={{this.numberValue}}
    @label="Label"
    @identifier="numberInput"
    @isRequired={{true}}
    @help="This is an example of help."
    @invalidFeedback="This is an example of invalid feedback."
    @onChange={{fn (mut this.numberValue)}}
    placeholder="Placeholder"
  />
  <hr />
  <Form::NumberInput
    @value={{this.numberValue}}
    @type="range"
    @label="Label"
    @identifier="numberInput"
    @isRequired={{true}}
    @help="This is an example of help."
    @invalidFeedback="This is an example of invalid feedback."
    @onChange={{fn (mut this.numberValue)}}
    placeholder="Placeholder"
  />
  {{! END-SNIPPET }}
</Snippet>

<Subheading @title="Form phone input" />

<p>Value: {{this.phone}}</p>

<Snippet @name="form-phone-input.hbs">
  {{! BEGIN-SNIPPET form-phone-input }}
  <Form::PhoneInput
    @value={{this.phone}}
    @label="Label"
    @identifier="phoneInput"
    @isRequired={{true}}
    @help="This is an example of help."
    @invalidFeedback="This is an example of invalid feedback."
    @onChange={{fn (mut this.phone)}}
    placeholder="Placeholder"
  />
  {{! END-SNIPPET }}
</Snippet>

<Subheading @title="Form power select" />

<p>Value: {{this.objectValue.subject}}</p>

<Snippet @name="form-power-select.hbs">
  {{! BEGIN-SNIPPET form-power-select }}
  <Form::PowerSelect
    @options={{array
      (hash subject="Post A" body="This is the body.")
      (hash subject="Post B" body="This is the body.")
    }}
    @selected={{this.objectValue}}
    @label="Label"
    @identifier="powerSelect"
    @isRequired={{true}}
    @help="This is an example of help."
    @invalidFeedback="This is an example of invalid feedback."
    @searchField="subject"
    @chooseLabel="Choose…"
    @searchLabel="Search…"
    @onChange={{fn (mut this.objectValue)}}
    as |post|
  >
    {{post.subject}}
  </Form::PowerSelect>
  {{! END-SNIPPET }}
</Snippet>

<Subheading @title="Form power select multiple" />

<p>Value: {{this.objectValue.subject}}</p>

<Snippet @name="form-power-select-multiple.hbs">
  {{! BEGIN-SNIPPET form-power-select-multiple }}
  <Form::PowerSelectMultiple
    @options={{(array)}}
    @selected={{this.arrayValue}}
    @label="Label"
    @identifier="powerSelectMultiple"
    @isRequired={{true}}
    @help="This is an example of help."
    @invalidFeedback="This is an example of invalid feedback."
    @chooseLabel="Choose…"
    @onChange={{fn (mut this.arrayValue)}}
    @onCreate={{(noop)}}
    data-test-state-writing-numbers
    as |post|
  >
    {{post.subject}}
  </Form::PowerSelectMultiple>
  {{! END-SNIPPET }}
</Snippet>

<Subheading @title="Form radio" />

<p>Value: {{this.radio}}</p>

<Snippet @name="form-radio.hbs">
  {{! BEGIN-SNIPPET form-radio }}
  <Form::Radio
    @options={{array
      (hash value=true label="Yes" help="This is an example of help.")
      (hash value=false label="No" help="This is an example of help.")
    }}
    @selected={{this.radio}}
    @label="Label"
    @identifier="radio"
    @isRequired={{true}}
    @help="This is an example of help."
    @invalidFeedback="This is an example of invalid feedback."
    @onChange={{fn (mut this.radio)}}
  />
  {{! END-SNIPPET }}
</Snippet>

<Subheading @title="Form radio button" />

<p>Value: {{this.radio}}</p>

<Snippet @name="form-radio-button.hbs">
  {{! BEGIN-SNIPPET form-radio-button }}
  <Form::RadioButton
    @options={{array
      (hash value=true label="Yes")
      (hash value=false label="No")
    }}
    @selected={{this.radio}}
    @label="Label"
    @identifier="radioButton"
    @isRequired={{true}}
    @help="This is an example of help."
    @invalidFeedback="This is an example of invalid feedback."
    @onChange={{fn (mut this.radio)}}
  />
  {{! END-SNIPPET }}
</Snippet>

<Subheading @title="Form radio card" />

<p>Value: {{this.radio}}</p>

<Snippet @name="form-radio-card.hbs">
  {{! BEGIN-SNIPPET form-radio-card }}
  <Form::RadioCard
    @options={{array
      (hash
        value=true label="Yes" icon="check" help="This is an example of help."
      )
      (hash
        value=false label="No" icon="xmark" help="This is an example of help."
      )
    }}
    @selected={{this.radio}}
    @label="Label"
    @identifier="radioCard"
    @isRequired={{true}}
    @help="This is an example of help."
    @invalidFeedback="This is an example of invalid feedback."
    @onChange={{fn (mut this.radio)}}
  />
  {{! END-SNIPPET }}
</Snippet>

<Subheading @title="Form select" />

<p>Value: {{this.status}}</p>

<Snippet @name="form-select.hbs">
  {{! BEGIN-SNIPPET form-select }}
  <Form::Select
    @options={{array
      (hash value=undefined label="Choose…")
      (hash value="active" label="Active")
      (hash value="inactive" label="Inactive")
      (hash
        groupLabel="Label"
        options=(array
          (hash value="third" label="Third")
          (hash value="fourth" label="Fourth")
        )
      )
      "fifth"
    }}
    @selected={{this.status}}
    @label="Label"
    @identifier="select"
    @isRequired={{true}}
    @help="This is an example of help."
    @invalidFeedback="This is an example of invalid feedback."
    @onChange={{fn (mut this.status)}}
  />
  {{! END-SNIPPET }}
</Snippet>

<Subheading @title="Form textarea" />

<p>Value: {{this.value}}</p>

<Snippet @name="form-textarea.hbs">
  {{! BEGIN-SNIPPET form-textarea }}
  <Form::Textarea
    @value={{this.value}}
    @label="Label"
    @identifier="textarea"
    @isRequired={{true}}
    @help="This is an example of help."
    @invalidFeedback="This is an example of invalid feedback."
    @onChange={{fn (mut this.value)}}
    placeholder="Placeholder"
  />
  {{! END-SNIPPET }}
</Snippet>

<Subheading @title="Form time input" />

<p>Value: {{timestamp this.date format="time"}}</p>

<Snippet @name="form-time-input.hbs">
  {{! BEGIN-SNIPPET form-time-input }}
  <Form::TimeInput
    @value={{this.date}}
    @label="Label"
    @identifier="timeInput"
    @isRequired={{true}}
    @help="This is an example of help."
    @invalidFeedback="This is an example of invalid feedback."
    @onChange={{fn (mut this.date)}}
  />
  {{! END-SNIPPET }}
</Snippet>