{{page-title "Form"}}
{{breadcrumb "Form" route="comps.form"}}

<Heading
  @title="Form"
  @subtitle="Examples and usage guidelines for form control styles, layout options, and custom components for creating a wide variety of forms."
/>

<div class="row g-4">
  <div class="col-12 col-md-3">
    <Nav @isPills={{true}} @isVertical={{true}}>
      <Nav::Item @route="comps.form.check" @label="Form check" />
      <Nav::Item @route="comps.form.date-input" @label="Form date input" />
      <Nav::Item
        @route="comps.form.file-dropzone"
        @label="Form file dropzone"
      />
      <Nav::Item @route="comps.form.file-input" @label="Form file input" />
      <Nav::Item @route="comps.form.html-input" @label="Form HTML input" />
      <Nav::Item @route="comps.form.input" @label="Form input" />
      <Nav::Item
        @route="comps.form.markdown-input"
        @label="Form Markdown input"
      />
      <Nav::Item @route="comps.form.number-input" @label="Form number input" />
      <Nav::Item @route="comps.form.phone-input" @label="Form phone input" />
      <Nav::Item @route="comps.form.power-select" @label="Form power select" />
      <Nav::Item
        @route="comps.form.power-select-multiple"
        @label="Form power select multiple"
      />
      <Nav::Item @route="comps.form.radio" @label="Form radio" />
      <Nav::Item @route="comps.form.radio-button" @label="Form radio button" />
      <Nav::Item @route="comps.form.radio-card" @label="Form radio card" />
      <Nav::Item @route="comps.form.select" @label="Form select" />
      <Nav::Item @route="comps.form.textarea" @label="Form textarea" />
      <Nav::Item @route="comps.form.time-input" @label="Form time input" />
    </Nav>
  </div>
  <div class="col-12 col-md-9">
    {{outlet}}
  </div>
</div>