{{page-title "List attributes"}}
{{breadcrumb "List attributes"}}

<Heading @title="List attributes" />

<p>
  Value:
  {{#each this.selected as |item|}}
    {{item}}
  {{/each}}
</p>

<Snippet @name="list-attributes.hbs">
  {{! BEGIN-SNIPPET list-attributes }}
  <ListAttributes
    @presets={{array (hash label="Default" values=(array "a"))}}
    @options={{array
      (hash value="a" label="A")
      (hash value="b" label="B")
      (hash value="c" label="C")
    }}
    @selected={{this.selected}}
    @text="Edit columns"
    @onChange={{fn (mut this.selected)}}
  />
  {{! END-SNIPPET }}
</Snippet>