{{page-title "List filter"}}
{{breadcrumb "List filter"}}

<Heading @title="List filter" />

<ul>
  <li>Status: {{this.status}}</li>
  <li>Type:
    {{#each this.type as |t|}}
      {{t}}
    {{/each}}
  </li>
  <li>Tag: {{this.tag}}</li>
  <li>Created date:
    {{#if this.createdAt}}
      <ul>
        <li>
          gte:
          {{timestamp this.gte}}
        </li>
        <li>
          gt:
          {{timestamp this.gt}}
        </li>
        <li>
          lt:
          {{timestamp this.lt}}
        </li>
        <li>
          lte:
          {{timestamp this.lte}}
        </li>
      </ul>
    {{/if}}
  </li>
  <li>Other: {{this.other}}</li>
</ul>

<Snippet @name="list-filter.hbs">
  {{! BEGIN-SNIPPET list-filter }}
  <ListFilter
    @predicates={{array
      (hash
        label="Status"
        key="status"
        value=this.status
        options=(array
          (hash value="active" label="Active")
          (hash value="inactive" label="Inactive")
        )
      )
      (hash
        type="multi"
        label="Type"
        key="type"
        value=this.type
        options=(array
          (hash value="primary" label="Primary")
          (hash value="secondary" label="Secondary")
        )
      )
      (hash type="string" label="Tag" key="tag" value=this.tag)
      (hash
        type="date" label="Created date" key="createdAt" value=this.createdAt
      )
      (hash
        label="Other"
        key="other"
        value=this.other
        options=(array
          (hash value="active" label="Active")
          (hash value="inactive" label="Inactive")
        )
      )
    }}
    @text="Filter"
    @clearText="Clear"
    @doneText="Done"
    @modeText="Mode"
    @inTheLastText="is in the last"
    @equalsText="is equal to"
    @betweenText="is between"
    @isAfterText="is after"
    @isAfterOrOnText="is on or after"
    @isBeforeText="is before"
    @isBeforeOrOnText="is before or on"
    @valueText="Value"
    @valueAText="Value A"
    @valueBText="Value B"
    @andText="and"
    @daysText="Days"
    @monthsText="Months"
    @chooseText="Choose…"
    @searchText="Search…"
    @onChange={{this.change}}
  />
  {{! END-SNIPPET }}
</Snippet>