{{page-title "List filter"}}
{{breadcrumb "List filter"}}

<Heading @title="List filter" />

<ul>
  <li>Status: {{this.status}}</li>
  <li>Type:
    {{#each this.type as |t|}}
      {{t}}
    {{/each}}
  </li>
  <li>Tag: {{this.tag}}</li>
  <li>Created Date:
    {{#if this.createdAt}}
      <ul>
        <li>
          gte:
          {{timestamp this.gte}}
        </li>
        <li>
          gt:
          {{timestamp this.gt}}
        </li>
        <li>
          lt:
          {{timestamp this.lt}}
        </li>
        <li>
          lte:
          {{timestamp this.lte}}
        </li>
      </ul>
    {{/if}}
  </li>
</ul>

<Snippet @name="list-filter.hbs">
  {{! BEGIN-SNIPPET list-filter }}
  <ListFilter
    @predicates={{array
      (hash
        label="Status"
        key="status"
        value=this.status
        options=(array
          (hash value="active" label="Active")
          (hash value="inactive" label="Inactive")
        )
      )
      (hash
        type="multi"
        label="Type"
        key="type"
        value=this.type
        options=(array
          (hash value="primary" label="Primary")
          (hash value="secondary" label="Secondary")
        )
      )
      (hash type="string" label="Tag" key="tag" value=this.tag)
      (hash
        type="date" label="Created Date" key="createdAt" value=this.createdAt
      )
    }}
    @text="Filter"
    @clearText="Clear"
    @doneText="Done"
    @onChange={{this.change}}
  />
  {{! END-SNIPPET }}
</Snippet>