{{page-title "Modal"}}
{{breadcrumb "Modal"}}

<Heading @title="Modal" />

<Snippet @name="modal.hbs">
  {{! BEGIN-SNIPPET modal }}
  <Button @label="Open modal" {{on "click" (fn (mut this.showModal) true)}} />

  {{#if this.showModal}}
    <Modal
      @title="Title"
      @closeButtonLabel="Close"
      @onClose={{this.close}}
      as |onClose|
    >
      <p>Body</p>
      <Button @label="Close" {{on "click" onClose}} />
    </Modal>
  {{/if}}
  {{! END-SNIPPET }}
</Snippet>