{{page-title "Modal"}}
{{breadcrumb "Modal"}}

<Heading @title="Modal" />

{{! BEGIN-SNIPPET modal }}
<Button @text="Open modal" {{on "click" (fn (mut this.showModal) true)}} />

{{#if this.showModal}}
  <Modal @title="Title" @onClose={{this.close}} as |onClose|>
    <p>Body</p>
    <Button @text="Close" {{on "click" onClose}} />
  </Modal>
{{/if}}
{{! END-SNIPPET }}

{{#let (get-code-snippet "modal.hbs") as |snippet|}}
  <CodeBlock
    @language={{snippet.language}}
    @code={{snippet.source}}
    class="mt-3"
  />
{{/let}}