{{page-title "Nav"}}
{{breadcrumb "Nav"}}

<Heading @title="Nav" />

<Subheading @title="Default" class="mt-3" />

<Nav>
  <Nav::Item @route="comps" @text="First" @icon="house" @count={{12}} />
  <Nav::Item @route="index" @text="Second" />
  <Nav::Item @route="index" @text="Third" />
  <Nav::Item @route="index" @text="Custom">
    <Badge @text="New" />
  </Nav::Item>
</Nav>

<Subheading @title="Pills" class="mt-3" />

<Nav @isPills={{true}}>
  <Nav::Item @route="comps" @text="First" />
  <Nav::Item @route="index" @text="Second" />
  <Nav::Item @route="index" @text="Third" />
</Nav>

<Nav @isPills={{true}} class="nav-fill">
  <Nav::Item @route="comps" @text="First" />
  <Nav::Item @route="index" @text="Second" />
  <Nav::Item @route="index" @text="Third" />
</Nav>

<Subheading @title="Vertical" class="mt-3" />

<Nav @isPills={{true}} class="flex-column">
  <Nav::Item @route="comps" @text="First" @icon="house" @count={{12}} />
  <Nav::Item @route="index" @text="Second" @count={{12}} />
  <Nav::Item @route="index" @text="Third" />
</Nav>