{{page-title "Nav"}}
{{breadcrumb "Nav"}}

<Heading @title="Nav" />

<Subheading @title="Default" />

<Snippet @name="nav.hbs">
  {{! BEGIN-SNIPPET nav }}
  <Nav>
    <Nav::Item @route="comps" @text="First" @icon="house" @count={{12}} />
    <Nav::Item @route="index" @text="Second" />
    <Nav::Item @route="index" @text="Third" />
    <Nav::Item @route="index" @text="Custom">
      <Badge @text="New" />
    </Nav::Item>
  </Nav>
  {{! END-SNIPPET }}
</Snippet>

<Subheading @title="Pills" />

<Snippet @name="nav2.hbs">
  {{! BEGIN-SNIPPET nav2 }}
  <Nav @isPills={{true}}>
    <Nav::Item @route="comps" @text="First" />
    <Nav::Item @route="index" @text="Second" />
    <Nav::Item @route="index" @text="Third" />
  </Nav>

  <Nav @isPills={{true}} class="nav-fill">
    <Nav::Item @route="comps" @text="First" />
    <Nav::Item @route="index" @text="Second" />
    <Nav::Item @route="index" @text="Third" />
  </Nav>
  {{! END-SNIPPET }}
</Snippet>

<Subheading @title="Vertical" />

<Snippet @name="nav3.hbs">
  {{! BEGIN-SNIPPET nav3 }}
  <Nav @isPills={{true}} @isVertical={{true}}>
    <Nav::Item @route="comps" @text="First" @icon="house" @count={{12}} />
    <Nav::Item @route="index" @text="Second" @count={{12}} />
    <Nav::Item @route="index" @text="Third" />
  </Nav>
  {{! END-SNIPPET }}
</Snippet>