{{page-title "Pagination"}}
{{breadcrumb "Pagination"}}

<Heading @title="Pagination" />

<Subheading @title="Pagination 1" />

<p>Page: {{this.page}}</p>

<Snippet @name="pagination1.hbs">
  {{! BEGIN-SNIPPET pagination1 }}
  <Pagination
    @page={{this.page}}
    @pageSize={{3}}
    @totalItems={{10}}
    @nextText="Next"
    @previousText="Previous"
    @onChange={{fn (mut this.page)}}
  />
  {{! END-SNIPPET }}
</Snippet>

<Subheading @title="Pagination 2" />

<p>Page: {{this.page}}</p>

<Snippet @name="pagination2.hbs">
  {{! BEGIN-SNIPPET pagination2 }}
  <Pagination
    @canNext={{false}}
    @canPrevious={{false}}
    @nextText="Next"
    @previousText="Previous"
    @onNext={{this.next}}
    @onPrevious={{this.previous}}
  />
  {{! END-SNIPPET }}
</Snippet>