{{page-title "Pagination"}}
{{breadcrumb "Pagination"}}

<Heading @title="Pagination" />

<p>Page: {{this.page}}</p>

<Pagination
  @curPage={{this.page}}
  @pageSize={{3}}
  @totalItems={{10}}
  @onChange={{fn (mut this.page)}}
/>