{{page-title "Pagination"}}
{{breadcrumb "Pagination"}}

<Heading @title="Pagination" />

<p>Page: {{this.page}}</p>

<Snippet @name="pagination.hbs">
  {{! BEGIN-SNIPPET pagination }}
  <Pagination
    @curPage={{this.page}}
    @pageSize={{3}}
    @totalItems={{10}}
    @nextText="Next"
    @previousText="Previous"
    @onChange={{fn (mut this.page)}}
  />
  {{! END-SNIPPET }}
</Snippet>