<a
  href={{@href}}
  target="_blank"
  rel="noopener noreferrer"
  data-test-external-link
  ...attributes
>
  {{#unless @isIconOnly}}
    {{#if @isIconTrailing}}
      {{#if @text}}{{@text}}{{else}}{{yield}}{{/if}}{{/if}}{{/unless}}
  {{#if @icon}}
    <Icon
      @icon={{@icon}}
      @prefix={{@iconPrefix}}
      class={{unless @isIconOnly (if @isIconTrailing "ms-1" "me-1")}}
    />
  {{/if}}
  {{#unless @isIconOnly}}
    {{#unless @isIconTrailing}}
      {{#if @text}}{{@text}}{{else}}{{yield}}{{/if}}{{/unless}}{{/unless}}</a>