{{#if @isHorizontal}}
  <div class="col-auto border-end">
    <PropertyList::Item::Key @label={{@label}} @help={{@help}} />
    <PropertyList::Item::Value
      @value={{@value}}
      @label={{@label}}
      ...attributes
    >
      <:default>
        {{#if (has-block)}}
          {{yield}}
        {{else}}
          {{! @glint-expect-error }}
          {{@value}}
        {{/if}}
      </:default>
      <:side>{{yield to="side"}}</:side>
    </PropertyList::Item::Value>
  </div>
{{else}}
  <PropertyList::Item::Key @label={{@label}} @help={{@help}} class="col-5" />
  <PropertyList::Item::Value
    @value={{@value}}
    @label={{@label}}
    class="col-7 overflow-hidden"
    ...attributes
  >
    <:default>
      {{#if (has-block)}}
        {{yield}}
      {{else}}
        {{! @glint-expect-error }}
        {{@value}}
      {{/if}}
    </:default>
    <:side>{{yield to="side"}}</:side>
  </PropertyList::Item::Value>
{{/if}}