{{#if @isHorizontal}}
  <div class="col-auto border-end">
    <dt class="text-secondary">
      {{@label}}
      {{#if @tooltip}}
        <a href="#" class="text-secondary ms-1">
          <Icon @icon="info-circle" {{tooltip @tooltip}} />
        </a>
      {{/if}}
    </dt>
    <dd class="" ...attributes>
      {{#if @alt}}
        <span class="text-disabled">
          No
          {{@label}}
        </span>
      {{else}}
        {{#if @value}}
          <Copy::Button @text={{@value}} {{tooltip (concat "Copy " @label)}}>
            {{yield}}
          </Copy::Button>
          <span class="float-end">{{yield to="side"}}</span>
        {{else}}
          {{yield}}
        {{/if}}
      {{/if}}
    </dd>
  </div>
{{else}}
  <dt class="col-5 text-secondary">
    {{@label}}
    {{#if @tooltip}}
      <a href="#" class="text-secondary ms-1">
        <Icon @icon="info-circle" {{tooltip @tooltip}} />
      </a>
    {{/if}}
  </dt>
  <dd class="col-7 overflow-hidden" ...attributes>
    {{#if @alt}}
      <span class="text-disabled">
        No
        {{@label}}
      </span>
    {{else}}
      {{#if @value}}
        <Copy::Button @text={{@value}} {{tooltip (concat "Copy " @label)}}>
          {{yield}}
        </Copy::Button>
        <span class="float-end">{{yield to="side"}}</span>
      {{else}}
        {{yield}}
      {{/if}}
    {{/if}}
  </dd>
{{/if}}