{{page-title "Introduction"}}
{{breadcrumb "Introduction" route="guides.introduction"}}

<Heading @title="Introduction" />

<ol>
  <li><code>ember install @trusted-american/design-system</code></li>
  <li>
    <code>app.import('node_modules/bootstrap/dist/css/bootstrap.css');</code>
  </li>
</ol>

<Snippet @name="introduction.hbs">
  {{! BEGIN-SNIPPET introduction }}
  {{page-title "Title"}}
  {{breadcrumb "Title" route="application"}}
  {{theme "light"}}

  <Aside
    @title="Title"
    @logo="/logo.svg"
    @route="application"
    @isCollapsed={{false}}
    @onChange={{(noop)}}
  >
    <:header>
      Header
    </:header>
    <:default>
      <Aside::Item @label="First" @route="index" @icon="house" />
      <Aside::Item @label="Second" @route="index" @icon="house" />
      <Aside::Item @label="Third" @route="index" @icon="house" />
    </:default>
    <:footer>
      Footer
    </:footer>
  </Aside>
  <Main>
    <Main::TopHeader>
      Top header
    </Main::TopHeader>
    <Main::Header>
      Header
    </Main::Header>
    <Main::Body>
      Body
    </Main::Body>
    <Main::Footer>
      Footer
    </Main::Footer>
  </Main>
  {{! END-SNIPPET }}
</Snippet>