{{page-title "Alert"}}
{{breadcrumb "Alert"}}

<Heading
  @title="Alert"
  @subtitle="Provide contextual feedback messages for typical user actions with the handful of available and flexible alert messages."
/>

<Subheading @title="Examples" />

<Snippet @name="alert1.hbs">
  {{! BEGIN-SNIPPET alert1 }}
  <Alert @color="danger" @icon="triangle-exclamation">
    One of your domains is unverified. Please verify your domain to prevent
    others from claiming it.
    <a href="#" class="alert-link">Learn more</a>
  </Alert>
  {{! END-SNIPPET }}
</Snippet>

<Snippet @name="alert2.hbs">
  {{! BEGIN-SNIPPET alert2 }}
  <Alert
    @color="warning"
    @icon="circle-exclamation"
    @closeText="Close"
    @onClose={{this.close}}
  >
    <a href="#" class="alert-link">Prebuilds</a>
    consume storage space that will incur a billable charge.
  </Alert>
  {{! END-SNIPPET }}
</Snippet>

<Snippet @name="alert3.hbs">
  {{! BEGIN-SNIPPET alert3 }}
  <Alert
    @color="success"
    @icon="check"
    @closeText="Close"
    @onClose={{this.close}}
  >
    Payment information added successfully. Change it any time in
    <a href="#" class="alert-link">your profile</a>.
  </Alert>
  {{! END-SNIPPET }}
</Snippet>

<Snippet @name="alert4.hbs">
  {{! BEGIN-SNIPPET alert4 }}
  <Alert
    @color="info"
    @icon="circle-info"
    @closeText="Close"
    @onClose={{this.close}}
  >
    Ignoring revisions in
    <a href="#" class="alert-link">.git-blame-ignore-revs</a>.
  </Alert>
  {{! END-SNIPPET }}
</Snippet>

<Snippet @name="alert5.hbs">
  {{! BEGIN-SNIPPET alert5 }}
  <Alert>
    Body here
  </Alert>
  {{! END-SNIPPET }}
</Snippet>

<Snippet @name="alert6.hbs">
  {{! BEGIN-SNIPPET alert6 }}
  <Alert>
    <:title>Title here</:title>
    <:default>Body here</:default>
  </Alert>
  {{! END-SNIPPET }}
</Snippet>

<Snippet @name="alert7.hbs">
  {{! BEGIN-SNIPPET alert7 }}
  <Alert @color="success">
    <:title>Title here</:title>
    <:default>Body here</:default>
  </Alert>
  {{! END-SNIPPET }}
</Snippet>

<Snippet @name="alert8.hbs">
  {{! BEGIN-SNIPPET alert8 }}
  <Alert @color="success" @icon="info-circle">
    <:title>Title here</:title>
    <:default>Body here</:default>
  </Alert>
  {{! END-SNIPPET }}
</Snippet>

<Snippet @name="alert9.hbs">
  {{! BEGIN-SNIPPET alert9 }}
  <Alert
    @color="success"
    @icon="info-circle"
    @closeText="Close"
    @onClose={{this.close}}
  >
    <:title>Title here</:title>
    <:default>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </:default>
  </Alert>
  {{! END-SNIPPET }}
</Snippet>