<div
  class="alert alert-{{if @color @color 'secondary'}}
    {{if @onClose 'alert-dismissible'}}
    d-flex gap-3"
  role="alert"
  data-test-alert
  ...attributes
>
  {{#if @icon}}
    <div>
      <Icon @icon={{@icon}} />
    </div>
  {{/if}}
  <div>
    {{#if (has-block "title")}}
      <h6 class="alert-heading">{{yield to="title"}}</h6>
    {{/if}}
    {{yield}}
  </div>
  {{#if @onClose}}
    {{! TODO: string }}
    <CloseButton
      @closeText="Close"
      data-bs-dismiss="alert"
      {{on "click" @onClose}}
    />
  {{/if}}
</div>