<aside class="d-flex flex-column overflow-y-auto p-3" ...attributes>
  <LinkTo
    @route={{@route}}
    class="d-flex align-items-center link-light text-decoration-none pt-2 pb-4"
  >
    <img src={{@logo}} alt={{@title}} class="tds-aside-logo me-3" />
    <h3 class="mb-0">{{@title}}</h3>
  </LinkTo>

  <nav class="nav nav-pills flex-column flex-grow-1" aria-label="Upper Nav">
    {{yield}}
  </nav>

  <nav class="nav nav-pills flex-column mb-2" aria-label="Lower Nav">
    {{yield to="lower"}}
  </nav>

  {{#if (has-block "bottom")}}
    <div class="pt-3">
      {{yield to="bottom"}}
    </div>
  {{/if}}
</aside>