<span
  class="badge text-bg-{{if @color @color 'secondary'}}
    {{if @pill 'rounded-pill'}}"
  data-test-badge
  ...attributes
>
  {{#if @icon}}
    <Icon @icon={{@icon}} class={{if @text "me-1"}} />
  {{/if}}
  {{@text}}
</span>