<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    {{#each (breadcrumbs) as |breadcrumb|}}
      {{#if (has-next breadcrumb (breadcrumbs))}}
        <li class="breadcrumb-item">
          {{#if breadcrumb.data.model}}
            <LinkTo
              @route={{breadcrumb.data.route}}
              @model={{breadcrumb.data.model}}
            >
              {{breadcrumb.title}}
            </LinkTo>
          {{else}}
            <LinkTo @route={{breadcrumb.data.route}}>
              {{breadcrumb.title}}
            </LinkTo>
          {{/if}}
        </li>
      {{else}}
        <li class="breadcrumb-item active" aria-current="page">
          {{breadcrumb.title}}
        </li>
      {{/if}}
    {{/each}}
  </ol>
</nav>