{{#if (and @route @query)}}
  <LinkTo
    @route={{@route}}
    @query={{@query}}
    class="btn
      {{if @size (concat 'btn-' @size)}}
      btn-{{if @isOutline 'outline-' ''}}{{if @color @color 'secondary'}}
      {{if @isFullWidth 'w-100'}}
      text-nowrap"
    role="button"
    data-test-button
    ...attributes
  >
    <Button::Internal
      @label={{@label}}
      @icon={{@icon}}
      @iconPrefix={{@iconPrefix}}
      @isIconTrailing={{@isIconTrailing}}
      @isIconOnly={{@isIconOnly}}
      @isLoading={{@isLoading}}
      @count={{@count}}
      @shortcut={{@shortcut}}
      role="presentation"
    />
  </LinkTo>
{{else if @route}}
  <LinkTo
    @route={{@route}}
    class="btn
      {{if @size (concat 'btn-' @size)}}
      btn-{{if @isOutline 'outline-' ''}}{{if @color @color 'secondary'}}
      {{if @isFullWidth 'w-100'}}
      text-nowrap"
    role="button"
    data-test-button
    ...attributes
  >
    <Button::Internal
      @label={{@label}}
      @icon={{@icon}}
      @iconPrefix={{@iconPrefix}}
      @isIconTrailing={{@isIconTrailing}}
      @isIconOnly={{@isIconOnly}}
      @isLoading={{@isLoading}}
      @count={{@count}}
      @shortcut={{@shortcut}}
      role="presentation"
    />
  </LinkTo>
{{else if @query}}
  <LinkTo
    @query={{@query}}
    class="btn
      {{if @size (concat 'btn-' @size)}}
      btn-{{if @isOutline 'outline-' ''}}{{if @color @color 'secondary'}}
      {{if @isFullWidth 'w-100'}}
      text-nowrap"
    role="button"
    data-test-button
    ...attributes
  >
    <Button::Internal
      @label={{@label}}
      @icon={{@icon}}
      @iconPrefix={{@iconPrefix}}
      @isIconTrailing={{@isIconTrailing}}
      @isIconOnly={{@isIconOnly}}
      @isLoading={{@isLoading}}
      @count={{@count}}
      @shortcut={{@shortcut}}
      role="presentation"
    />
  </LinkTo>
{{else if @href}}
  {{#if @isLocalHref}}
    <a
      href={{@href}}
      class="btn
        {{if @size (concat 'btn-' @size)}}
        btn-{{if @isOutline 'outline-' ''}}{{if @color @color 'secondary'}}
        {{if @isFullWidth 'w-100'}}
        text-nowrap"
      role="button"
      data-test-button
      ...attributes
    >
      <Button::Internal
        @label={{@label}}
        @icon={{@icon}}
        @iconPrefix={{@iconPrefix}}
        @isIconTrailing={{@isIconTrailing}}
        @isIconOnly={{@isIconOnly}}
        @isLoading={{@isLoading}}
        @count={{@count}}
        @shortcut={{@shortcut}}
        role="presentation"
      />
    </a>
  {{else}}
    <ExternalLink
      @href={{@href}}
      @label={{@label}}
      @icon={{@icon}}
      @iconPrefix={{@iconPrefix}}
      @isIconTrailing={{@isIconTrailing}}
      @isIconOnly={{@isIconOnly}}
      class="btn
        {{if @size (concat 'btn-' @size)}}
        btn-{{if @isOutline 'outline-' ''}}{{if @color @color 'secondary'}}
        {{if @isFullWidth 'w-100'}}
        text-nowrap"
      role="button"
      data-test-button
      ...attributes
    />
  {{/if}}
{{else if @isLabel}}
  <label
    class="btn
      {{if @size (concat 'btn-' @size)}}
      btn-{{if @isOutline 'outline-' ''}}{{if @color @color 'secondary'}}
      {{if @isFullWidth 'w-100'}}
      text-nowrap"
    data-test-button
    ...attributes
  >
    <Button::Internal
      @label={{@label}}
      @icon={{@icon}}
      @iconPrefix={{@iconPrefix}}
      @isIconTrailing={{@isIconTrailing}}
      @isIconOnly={{@isIconOnly}}
      @isLoading={{@isLoading}}
      @count={{@count}}
      @shortcut={{@shortcut}}
      role="presentation"
    />
    {{yield}}
  </label>
{{else}}
  <button
    type={{if @isSubmit "submit" "button"}}
    class="btn
      {{if @size (concat 'btn-' @size)}}
      btn-{{if @isOutline 'outline-' ''}}{{if @color @color 'secondary'}}
      {{if @isFullWidth 'w-100'}}
      text-nowrap"
    disabled={{if @isLoading true}}
    aria-label={{if @isIconOnly @label}}
    data-test-button
    ...attributes
  >
    <Button::Internal
      @label={{@label}}
      @icon={{@icon}}
      @iconPrefix={{@iconPrefix}}
      @isIconTrailing={{@isIconTrailing}}
      @isIconOnly={{@isIconOnly}}
      @isLoading={{@isLoading}}
      @count={{@count}}
      @shortcut={{@shortcut}}
      role="presentation"
    />
  </button>
{{/if}}