{{#if @route}}
  {{! template-lint-disable require-presentational-children }}
  <LinkTo
    @route={{@route}}
    class="btn
      {{if @size (concat 'btn-' @size)}}
      btn-{{if @outline 'outline-' ''}}{{if @color @color 'secondary'}}"
    role="button"
    ...attributes
  >
    {{if (and (not @iconOnly) @iconTrailing) @text}}
    {{#if @icon}}
      <FaIcon
        @icon={{@icon}}
        class={{unless @iconOnly (if @iconTrailing "ms-1" "me-1")}}
      />
    {{/if}}
    {{if (and (not @iconOnly) (not @iconTrailing)) @text}}
  </LinkTo>
{{else if @href}}
  <ExternalLink
    @text={{@text}}
    @icon={{@icon}}
    @href={{@href}}
    class="btn
      {{if @size (concat 'btn-' @size)}}
      btn-{{if @outline 'outline-' ''}}{{if @color @color 'secondary'}}"
    role="button"
    ...attributes
  />
{{else}}
  <button
    type={{if @isSubmit "submit" "button"}}
    class="btn
      {{if @size (concat 'btn-' @size)}}
      btn-{{if @outline 'outline-' ''}}{{if @color @color 'secondary'}}"
    disabled={{if @loading true}}
    aria-label={{if @iconOnly @text}}
    ...attributes
  >
    {{#if @loading}}
      <span class="spinner-border spinner-border-sm" role="status"></span>
    {{/if}}
    {{if (and (not @iconOnly) @iconTrailing) @text}}
    {{#if @icon}}
      <FaIcon
        @icon={{@icon}}
        class={{unless @iconOnly (if @iconTrailing "ms-1" "me-1")}}
      />
    {{/if}}
    {{if (and (not @iconOnly) (not @iconTrailing)) @text}}
  </button>
{{/if}}