<a
  href={{@href}}
  target="_blank"
  rel="noopener noreferrer"
  data-test-external-link
  ...attributes
>
  {{#if @iconTrailing}}
    {{#if @text}}{{@text}}{{else}}{{yield}}{{/if}}
  {{/if}}
  {{#if @icon}}
    <Icon
      @icon={{@icon}}
      @prefix={{@iconPrefix}}
      class={{if @iconTrailing "ms-1" "me-1"}}
    />
  {{/if}}
  {{#unless @iconTrailing}}
    {{#if @text}}{{@text}}{{else}}{{yield}}{{/if}}
  {{/unless}}
</a>