<a
  href={{@href}}
  target="_blank"
  rel="noopener noreferrer"
  data-test-external-link
  ...attributes
>
  {{#unless @iconOnly}}
    {{#if @iconTrailing}}
      {{#if @text}}{{@text}}{{else}}{{yield}}{{/if}}
    {{/if}}
  {{/unless}}
  {{#if @icon}}
    <Icon
      @icon={{@icon}}
      @prefix={{@iconPrefix}}
      class={{unless @iconOnly (if @iconTrailing "ms-1" "me-1")}}
    />
  {{/if}}
  {{#unless @iconOnly}}
    {{#unless @iconTrailing}}
      {{#if @text}}{{@text}}{{else}}{{yield}}{{/if}}
    {{/unless}}
  {{/unless}}
</a>