<a
  href={{@href}}
  target="_blank"
  rel="noopener noreferrer"
  data-test-external-link
  ...attributes
>
  {{#if @icon}}
    <FaIcon @icon={{@icon}} class="me-1" />
  {{/if}}
  {{#if @text}}
    {{@text}}
  {{else}}
    {{yield}}
  {{/if}}
</a>