<div class="d-inline" data-test-file-type ...attributes>
  {{#if (eq "image" this.fileType)}}
    <Icon
      @icon="file-image"
      @size={{@size}}
      @fixedWidth={{true}}
      class="text-warning"
    />
  {{else if (eq "audio" this.fileType)}}
    <Icon
      @icon="file-audio"
      @size={{@size}}
      @fixedWidth={{true}}
      class="text-warning"
    />
  {{else if (eq "pdf" this.fileType)}}
    <Icon
      @icon="file-pdf"
      @size={{@size}}
      @fixedWidth={{true}}
      class="text-danger"
    />
  {{else if (eq "csv" this.fileType)}}
    <Icon
      @icon="file-csv"
      @size={{@size}}
      @fixedWidth={{true}}
      class="text-success"
    />
  {{else if (eq "word" this.fileType)}}
    <Icon
      @icon="file-word"
      @size={{@size}}
      @fixedWidth={{true}}
      class="text-primary"
    />
  {{else if (eq "excel" this.fileType)}}
    <Icon
      @icon="file-excel"
      @size={{@size}}
      @fixedWidth={{true}}
      class="text-success"
    />
  {{else}}
    <Icon @icon="file" @size={{@size}} @fixedWidth={{true}} class="text-body" />
  {{/if}}
</div>