<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  data-test-flyout
  ...attributes
  {{tds-did-insert this.didInsert}}
>
  <div class="offcanvas-header border-bottom">
    <h6 class="offcanvas-title">{{@title}}</h6>
    <CloseButton
      @closeText={{@closeText}}
      class="text-reset"
      data-bs-dismiss="offcanvas"
    />
  </div>
  <div class="offcanvas-body">
    {{yield}}
  </div>
  {{#if (has-block "footer")}}
    <div class="offcanvas-header border-top">
      {{yield to="footer"}}
    </div>
  {{/if}}
</div>