<button
  type="button"
  class="btn btn-secondary"
  data-test-list-filter
  {{tds-dropdown autoClose="outside"}}
>
  <Icon @icon="filter" @fixedWidth={{true}} />
  {{@text}}
  {{#if this.selections}}
    <span class="text-danger ms-1">
      {{this.selections.length}}
    </span>
  {{/if}}
</button>

<Dropdown class="overflow-hidden p-0" data-test-list-filter-dropdown>
  <form novalidate {{on "submit" this.done}}>
    <ListGroup @flush={{true}}>

      <ListGroup::Item class="bg-body-tertiary px-2">
        <ButtonSet class="justify-content-between">
          <Button
            @text={{@clearText}}
            data-test-clear
            {{on "click" this.clear}}
          />
          <Button
            @isSubmit={{true}}
            @text={{@doneText}}
            @color="primary"
            data-test-done
          />
        </ButtonSet>
      </ListGroup::Item>

      {{#each this.predicates as |predicate index|}}

        <label class="list-group-item px-2" data-test-predicate-toggle>
          <input
            {{! @glint-expect-error }}
            checked={{or predicate.value (eq false predicate.value)}}
            type="checkbox"
            class="form-check-input me-1"
            id={{unique-id}}
            {{on "change" (pick "target.checked" (fn this.toggle predicate))}}
          />
          {{predicate.label}}
        </label>

        {{#if (or predicate.value (eq false predicate.value))}}
          <ListGroup::Item
            class="bg-body-tertiary px-2"
            data-test-predicate-value
          >

            {{#if (eq "date" predicate.type)}}
              <Form::Select
                @options={{array
                  (hash value="inTheLast" label="is in the last")
                  (hash value="equals" label="is equal to")
                  (hash value="between" label="is between")
                  (hash value="isAfter" label="is after")
                  (hash value="isAfterOrOn" label="is on or after")
                  (hash value="isBefore" label="is before")
                  (hash value="isBeforeOrOn" label="is before or on")
                }}
                @selected={{predicate.mode}}
                @label="Mode"
                @identifier="mode{{index}}"
                @inputOnly={{true}}
                @onChange={{fn (mut predicate.mode)}}
                class="mb-2"
              />

              <div class="d-flex align-items-center gap-2">
                {{#if (eq "inTheLast" predicate.mode)}}
                  {{! @glint-expect-error }}
                  <Input
                    @value={{predicate.valueA}}
                    @type="number"
                    min="1"
                    class="form-control"
                    aria-label="Value A"
                    required
                  />
                  <Form::Select
                    @options={{array
                      (hash value="days" label="Days")
                      (hash value="months" label="Months")
                    }}
                    @selected={{predicate.valueB}}
                    @label="Value B"
                    @identifier="valueB{{index}}"
                    @inputOnly={{true}}
                    @onChange={{fn (mut predicate.valueB)}}
                  />
                {{else}}
                  <Form::DateInput
                    @value={{predicate.valueA}}
                    @identifier=""
                    @required={{true}}
                    {{! @glint-expect-error }}
                    @onChange={{fn (mut predicate.valueA)}}
                  />
                  {{#if (eq "between" predicate.mode)}}
                    <div>
                      and
                    </div>
                    <Form::DateInput
                      @value={{predicate.valueB}}
                      @identifier=""
                      @required={{true}}
                      {{! @glint-expect-error }}
                      @onChange={{fn (mut predicate.valueB)}}
                    />
                  {{/if}}
                {{/if}}
              </div>

            {{else if (eq "multi" predicate.type)}}

              {{#each predicate.options as |opt|}}
                <Form::Check
                  @value={{includes opt.value predicate.value}}
                  @label={{opt.label}}
                  {{! @glint-expect-error }}
                  @identifier={{opt.value}}
                  {{on
                    "change"
                    (pick
                      "target.checked" (fn this.toggleMulti predicate opt.value)
                    )
                  }}
                />
              {{/each}}

            {{else if (eq "string" predicate.type)}}

              <Input
                @value={{predicate.value}}
                @type="text"
                class="form-control"
                aria-label="Value"
              />

            {{else}}

              <Form::Select
                @options={{predicate.options}}
                @selected={{predicate.value}}
                @label="Value"
                @identifier="value{{index}}"
                @inputOnly={{true}}
                @onChange={{fn (mut predicate.value)}}
              />

            {{/if}}
          </ListGroup::Item>
        {{/if}}

      {{/each}}

    </ListGroup>
  </form>
</Dropdown>