{{! @glint-nocheck }}

<Bs::Button data-test-list-filter {{dropdown autoClose="outside"}}>
  <FaIcon @icon="filter" @fixedWidth={{true}} />
  Filter
  {{#if this.selections}}
    <span class="text-danger ms-1">
      {{this.selections.length}}
    </span>
  {{/if}}
</Bs::Button>

<Bs::Dropdown @align="right" class="p-0" data-test-list-filter-dropdown>
  <form novalidate {{on "submit" this.done}}>
    <Bs::ListGroup @flush={{true}} as |listGroup|>

      <listGroup.item class="bg-light px-2">
        <Bs::Toolbar class="justify-content-between" as |toolbar|>
          <toolbar.group as |group|>
            <group.button @onClick={{this.clear}} data-test-clear>
              Clear
            </group.button>
          </toolbar.group>
          <toolbar.group as |group|>
            <group.button @isSubmit={{true}} @color="primary" data-test-done>
              Done
            </group.button>
          </toolbar.group>
        </Bs::Toolbar>
      </listGroup.item>

      {{#each this.predicates as |predicate index|}}

        <label class="list-group-item px-2" data-test-predicate-toggle>
          <input
            checked={{or predicate.value (eq false predicate.value)}}
            type="checkbox"
            class="form-check-input me-1"
            {{on "change" (pick "target.checked" (fn this.toggle predicate))}}
          />
          {{predicate.name}}
        </label>

        {{#if (or predicate.value (eq false predicate.value))}}
          <listGroup.item class="bg-light px-2" data-test-predicate-value>

            {{#if (eq "date" predicate.type)}}
              <Form::Select
                @options={{array
                  (hash
                    value="inTheLast"
                    label="is in the last"
                  )
                  (hash value="equals" label="is equal to")
                  (hash
                    value="between" label="is between"
                  )
                  (hash
                    value="isAfter" label="is after"
                  )
                  (hash
                    value="isAfterOrOn"
                    label="is on or after"
                  )
                  (hash
                    value="isBefore" label="is before"
                  )
                  (hash
                    value="isBeforeOrOn"
                    label="is before or on"
                  )
                }}
                @selected={{predicate.mode}}
                @identifier="mode{{index}}"
                @onChange={{fn (mut predicate.mode)}}
                aria-label="Mode"
                class="mb-2"
              />

              <div class="d-flex align-items-center gap-2">
                {{#if (eq "inTheLast" predicate.mode)}}
                  <Input
                    @value={{predicate.valueA}}
                    @type="number"
                    min="1"
                    class="form-control"
                    aria-label="Value A"
                    required
                  />
                  <Form::Select
                    @options={{array
                      (hash value="days" label="Days")
                      (hash value="months" label="Months")
                    }}
                    @selected={{predicate.valueB}}
                    @identifier="valueB{{index}}"
                    @onChange={{fn (mut predicate.valueB)}}
                    aria-label="Value B"
                  />
                {{else}}
                  <Form::DateInput
                    @value={{predicate.valueA}}
                    @identifier=""
                    @required={{true}}
                    @onChange={{fn (mut predicate.valueA)}}
                  />
                  {{#if (eq "between" predicate.mode)}}
                    <div>
                      and
                    </div>
                    <Form::DateInput
                      @value={{predicate.valueB}}
                      @identifier=""
                      @required={{true}}
                      @onChange={{fn (mut predicate.valueB)}}
                    />
                  {{/if}}
                {{/if}}
              </div>

            {{else if (eq "multi" predicate.type)}}

              {{#each predicate.options as |opt|}}
                <Form::Check
                  @value={{includes opt.value predicate.value}}
                  @label={{opt.label}}
                  @identifier={{opt.value}}
                  {{on
                    "change"
                    (pick
                      "target.checked" (fn this.toggleMulti predicate opt.value)
                    )
                  }}
                />
              {{/each}}

            {{else if (eq "string" predicate.type)}}

              <Input
                @value={{predicate.value}}
                @type="text"
                class="form-control"
                aria-label="Value"
              />

            {{else}}

              <Form::Select
                @options={{predicate.options}}
                @selected={{predicate.value}}
                @identifier="value{{index}}"
                @onChange={{fn (mut predicate.value)}}
                aria-label="Value"
              />

            {{/if}}
          </listGroup.item>
        {{/if}}

      {{/each}}

    </Bs::ListGroup>
  </form>
</Bs::Dropdown>