<Button
  @text={{@text}}
  @icon="filter"
  @count={{this.selections.length}}
  data-test-list-filter
  {{dropdown autoClose="outside"}}
/>

<Dropdown class="p-0" data-test-list-filter-dropdown>
  <form novalidate {{on "submit" this.done}}>
    <ListGroup @isFlush={{true}}>

      <ListGroup::Item class="bg-body-tertiary px-2">
        <ButtonSet class="justify-content-between">
          <Button
            @text={{@clearText}}
            data-test-clear
            {{on "click" this.clear}}
          />
          <Button
            @isSubmit={{true}}
            @text={{@doneText}}
            @color="primary"
            data-test-done
          />
        </ButtonSet>
      </ListGroup::Item>

      {{#each this.predicates as |predicate index|}}
        <label class="list-group-item px-2" data-test-predicate-toggle>
          <Form::Check::Input
            @value={{predicate.isEnabled}}
            @label={{predicate._predicate.label}}
            @identifier="toggle{{index}}"
            @onChange={{fn (mut predicate.isEnabled) (not predicate.isEnabled)}}
            class="me-1"
          />
          {{predicate._predicate.label}}
        </label>

        {{#if predicate.isEnabled}}
          <ListGroup::Item
            class="bg-body-tertiary px-2"
            data-test-predicate-value
          >
            {{#if (eq "date" predicate._predicate.type)}}
              <Form::Select
                @options={{array
                  (hash value="inTheLast" label=@inTheLastText)
                  (hash value="equals" label=@equalsText)
                  (hash value="between" label=@betweenText)
                  (hash value="isAfter" label=@isAfterText)
                  (hash value="isAfterOrOn" label=@isAfterOrOnText)
                  (hash value="isBefore" label=@isBeforeText)
                  (hash value="isBeforeOrOn" label=@isBeforeOrOnText)
                }}
                @selected={{predicate.mode}}
                @label={{@modeText}}
                @identifier="mode{{index}}"
                @isInputOnly={{true}}
                @onChange={{fn (mut predicate.mode)}}
                class="mb-2"
              />

              <div class="d-flex align-items-center gap-2">
                {{#if (eq "inTheLast" predicate.mode)}}
                  <Form::NumberInput
                    @value={{predicate.offsetCount}}
                    @label={{@valueAText}}
                    @identifier="valueA{{index}}"
                    @isRequired={{true}}
                    @isInputOnly={{true}}
                    @onChange={{fn (mut predicate.offsetCount)}}
                    min="1"
                  />
                  <Form::Select
                    @options={{array
                      (hash value="days" label=@daysText)
                      (hash value="months" label=@monthsText)
                    }}
                    @selected={{predicate.offsetMode}}
                    @label={{@valueBText}}
                    @identifier="valueB{{index}}"
                    @isInputOnly={{true}}
                    @onChange={{fn (mut predicate.offsetMode)}}
                  />
                {{else}}
                  <Form::DateInput
                    @value={{predicate.startAt}}
                    @label={{@valueAText}}
                    @identifier="valueA{{index}}"
                    @isRequired={{true}}
                    @isInputOnly={{true}}
                    @isLocalTimeZone={{true}}
                    @onChange={{fn (mut predicate.startAt)}}
                  />
                  {{#if (eq "between" predicate.mode)}}
                    <div>{{@andText}}</div>
                    <Form::DateInput
                      @value={{predicate.endAt}}
                      @label={{@valueBText}}
                      @identifier="valueB{{index}}"
                      @isRequired={{true}}
                      @isInputOnly={{true}}
                      @isLocalTimeZone={{true}}
                      @onChange={{fn this.setEndAt predicate}}
                    />
                  {{/if}}
                {{/if}}
              </div>

            {{else if (eq "multi" predicate._predicate.type)}}

              {{#each predicate._predicate.options as |opt|}}
                <Form::Check
                  @value={{includes opt.value predicate._predicate.value}}
                  @label={{opt.label}}
                  @identifier="{{opt.value}}"
                  @onChange={{fn
                    this.toggleMulti
                    predicate._predicate
                    opt.value
                  }}
                />
              {{/each}}

            {{else if (eq "string" predicate._predicate.type)}}

              <Form::Input
                @value={{predicate._predicate.value}}
                @label={{@valueText}}
                @identifier="value{{index}}"
                @isRequired={{true}}
                @isInputOnly={{true}}
                @onChange={{fn (mut predicate._predicate.value)}}
                placeholder={{@valueText}}
                {{autoselect}}
              />

            {{else}}

              <Form::PowerSelect
                @options={{predicate._predicate.options}}
                @selected={{find-by
                  "value"
                  predicate._value
                  predicate._predicate.options
                }}
                @searchField="label"
                @label={{@valueText}}
                @identifier="value{{index}}"
                {{!-- @isRequired={{true}} --}}
                @isInputOnly={{true}}
                @chooseText={{@chooseText}}
                @searchText={{@searchText}}
                @onChange={{fn this.change predicate}}
                as |option|
              >
                {{option.label}}
              </Form::PowerSelect>

            {{/if}}
          </ListGroup::Item>
        {{/if}}
      {{/each}}
    </ListGroup>
  </form>
</Dropdown>