<Button
  @label={{@label}}
  @icon="filter"
  @count={{this.selections.length}}
  data-test-list-filter
  {{dropdown autoClose="outside"}}
/>

<Dropdown class="p-0" data-test-list-filter-dropdown>
  <form novalidate {{on "submit" this.done}}>
    <ListGroup @isFlush={{true}}>

      <ListGroup::Item class="bg-body-tertiary px-2">
        <ButtonSet class="justify-content-between">
          <Button
            @label={{@clearLabel}}
            data-test-clear
            {{on "click" this.clear}}
          />
          <Button
            @isSubmit={{true}}
            @label={{@doneLabel}}
            @color="primary"
            data-test-done
          />
        </ButtonSet>
      </ListGroup::Item>

      {{#each this.predicates as |predicate index|}}
        <label class="list-group-item px-2" data-test-predicate-toggle>
          <Form::Check::Input
            @value={{predicate.isEnabled}}
            @label={{predicate._predicate.label}}
            @identifier="toggle{{index}}"
            @onChange={{fn (mut predicate.isEnabled) (not predicate.isEnabled)}}
            class="me-1"
          />
          {{predicate._predicate.label}}
        </label>

        {{#if predicate.isEnabled}}
          <ListGroup::Item
            class="bg-body-tertiary px-2"
            data-test-predicate-value
          >
            {{#if (eq "date" predicate._predicate.type)}}
              <Form::Select
                @options={{array
                  (hash value="inTheLast" label=@inTheLastLabel)
                  (hash value="equals" label=@equalsLabel)
                  (hash value="between" label=@betweenLabel)
                  (hash value="isAfter" label=@isAfterLabel)
                  (hash value="isAfterOrOn" label=@isAfterOrOnLabel)
                  (hash value="isBefore" label=@isBeforeLabel)
                  (hash value="isBeforeOrOn" label=@isBeforeOrOnLabel)
                }}
                @selected={{predicate.mode}}
                @label={{@modeLabel}}
                @identifier="mode{{index}}"
                @isInputOnly={{true}}
                @onChange={{fn (mut predicate.mode)}}
                class="mb-2"
                data-test-mode
              />

              <div class="d-flex align-items-center gap-2">
                {{#if (eq "inTheLast" predicate.mode)}}
                  <Form::NumberInput
                    @value={{predicate.offsetCount}}
                    @label={{@valueALabel}}
                    @identifier="valueA{{index}}"
                    @isRequired={{true}}
                    @isInputOnly={{true}}
                    @onChange={{fn (mut predicate.offsetCount)}}
                    min="1"
                  />
                  <Form::Select
                    @options={{array
                      (hash value="days" label=@daysLabel)
                      (hash value="months" label=@monthsLabel)
                    }}
                    @selected={{predicate.offsetMode}}
                    @label={{@valueBLabel}}
                    @identifier="valueB{{index}}"
                    @isInputOnly={{true}}
                    @onChange={{fn (mut predicate.offsetMode)}}
                  />
                {{else}}
                  <Form::DateInput
                    @value={{predicate.startAt}}
                    @label={{@valueALabel}}
                    @identifier="valueA{{index}}"
                    @isRequired={{true}}
                    @isInputOnly={{true}}
                    @isLocalTimeZone={{true}}
                    @onChange={{fn (mut predicate.startAt)}}
                  />
                  {{#if (eq "between" predicate.mode)}}
                    <div>{{@andLabel}}</div>
                    <Form::DateInput
                      @value={{predicate.endAt}}
                      @label={{@valueBLabel}}
                      @identifier="valueB{{index}}"
                      @isRequired={{true}}
                      @isInputOnly={{true}}
                      @isLocalTimeZone={{true}}
                      @onChange={{fn this.setEndAt predicate}}
                    />
                  {{/if}}
                {{/if}}
              </div>

            {{else if (eq "multi" predicate._predicate.type)}}

              {{#each predicate._predicate.options as |opt|}}
                <Form::Check
                  @value={{includes opt.value predicate._predicate.value}}
                  @label={{opt.label}}
                  @identifier="value{{index}}{{opt.value}}"
                  @onChange={{fn this.toggleMulti predicate opt.value}}
                />
              {{/each}}

            {{else if (eq "string" predicate._predicate.type)}}

              <Form::Input
                {{! @glint-expect-error }}
                @value={{predicate._value}}
                @label={{@valueLabel}}
                @identifier="value{{index}}"
                @isRequired={{true}}
                @isInputOnly={{true}}
                @onChange={{fn (mut predicate._value)}}
                placeholder={{@valueLabel}}
                {{autoselect}}
              />

            {{else}}

              <Form::PowerSelect
                @options={{predicate._predicate.options}}
                {{! @glint-nocheck }}
                @selected={{find-by
                  "value"
                  predicate._value
                  predicate._predicate.options
                }}
                @searchField="label"
                @label={{@valueLabel}}
                @identifier="value{{index}}"
                {{!-- @isRequired={{true}} --}}
                @isInputOnly={{true}}
                @chooseLabel={{@chooseLabel}}
                @searchLabel={{@searchLabel}}
                @onChange={{fn this.setValue predicate}}
                as |option|
              >
                {{option.label}}
              </Form::PowerSelect>

            {{/if}}
          </ListGroup::Item>
        {{/if}}
      {{/each}}
    </ListGroup>
  </form>
</Dropdown>