<div
  class="modal fade"
  tabindex="-1"
  data-test-modal
  ...attributes
  {{did-insert this.didInsert}}
>
  <div
    class="modal-dialog modal-dialog-scrollable
      {{if @size (concat 'modal-' @size)}}
      {{if @isFullscreen 'modal-fullscreen'}}"
  >
    <div class="modal-content">
      {{#if @title}}
        <div class="modal-header">
          <h6 class="modal-title">{{@title}}</h6>
          {{#unless @hideClose}}
            {{! TODO: string }}
            <CloseButton @closeText="Close" data-bs-dismiss="modal" />
          {{/unless}}
        </div>
      {{/if}}
      <div class="modal-body">
        {{yield this.close}}
      </div>
      {{#if (has-block "footer")}}
        <div class="modal-footer">
          {{yield this.close to="footer"}}
        </div>
      {{/if}}
    </div>
  </div>
</div>