<nav
  class="nav
    {{unless @isPills 'nav-tabs'}}
    {{if @isPills 'nav-pills'}}
    {{if @isFill 'nav-fill'}}
    {{if @isVertical 'flex-column'}}"
  data-test-nav
  ...attributes
>
  {{yield}}
</nav>