<div class="card-header" ...attributes>
  <nav
    class="nav flex-nowrap
      {{unless @isPills 'nav-tabs card-header-tabs'}}
      {{if @isPills 'nav-pills'}}
      {{if @isFill 'nav-fill'}}
      {{if @isVertical 'flex-column'}}"
    data-test-nav
  >
    {{yield}}
  </nav>
</div>