<div class="d-flex justify-content-between align-items-center" ...attributes>
  {{! @glint-expect-error }}
  {{#if @onChange}}
    <span>
      {{@viewingText}}
      <strong>{{this.pageStart}}-{{this.pageEnd}}</strong>
      {{@ofText}}
      {{! @glint-expect-error }}
      <strong>{{@totalItems}}</strong>
      {{@resultsText}}
    </span>
  {{/if}}
  <nav data-test-pagination>
    <ul class="pagination mb-0">
      <li class="page-item {{unless this.canPrevious 'disabled'}}">
        <a
          class="page-link"
          href="#"
          data-test-previous
          {{on "click" this.previous}}
        >{{@previousText}}</a>
      </li>
      {{#each this.pages as |_ index|}}
        <li class="page-item {{if (eq @page index) 'active'}}">
          <a
            class="page-link"
            href="#"
            {{on "click" (fn this.change index)}}
          >{{inc index}}</a>
        </li>
      {{/each}}
      <li class="page-item {{unless this.canNext 'disabled'}}">
        <a
          class="page-link"
          href="#"
          data-test-next
          {{on "click" this.next}}
        >{{@nextText}}</a>
      </li>
    </ul>
  </nav>
</div>