<div class="d-flex justify-content-center" data-test-placeholder ...attributes>
  {{! template-lint-disable no-inline-styles }}
  <div class="text-center" style="max-width: 25rem;">
    <h1 class="mb-3">
      <FaIcon @icon={{@icon}} data-test-icon />
    </h1>
    <h4 class="mb-0" data-test-title>
      {{@title}}
    </h4>
    {{#if @subtitle}}
      <p class="text-secondary mt-3 mb-0" data-test-subtitle>
        {{@subtitle}}
      </p>
    {{/if}}
    {{#if @onClick}}
      <Button
        @text={{or @buttonText "Create"}}
        @color="success"
        class="mt-3"
        {{on "click" @onClick}}
      />
    {{/if}}
  </div>
</div>