<div class="table-responsive">
  <YetiTable
    @data={{@data}}
    @sortable={{@isSortable}}
    @pagination={{eq "local" @pagination}}
    @pageSize={{20}}
    class="table table-hover"
    data-test-table
    ...attributes
    as |table|
  >
    {{yield table}}
    {{#if (eq "local" @pagination)}}
      <table.tfoot as |foot|>
        <foot.row as |row|>
          <row.cell
            @visible={{if @pagination true false}}
            colspan={{table.columns.length}}
          >
            <table.pagination />
          </row.cell>
        </foot.row>
      </table.tfoot>
    {{/if}}
  </YetiTable>
</div>

{{#if (eq "remote" @pagination)}}
  <ButtonSet class="justify-content-end mt-3">
    {{#if @onPrevious}}
      <Button
        @text={{@previousText}}
        disabled={{not @canPrevious}}
        {{on "click" @onPrevious}}
      />
    {{/if}}
    {{#if @onNext}}
      <Button
        @text={{@nextText}}
        disabled={{not @canNext}}
        {{on "click" @onNext}}
      />
    {{/if}}
  </ButtonSet>
{{/if}}