<div class="table-responsive" ...attributes>
  <YetiTable
    @data={{@data}}
    @sortable={{@isSortable}}
    @pagination={{eq "local" @pagination}}
    @pageSize={{10}}
    class="table table-hover"
    data-test-table
    as |table|
  >
    {{yield table}}
    {{#if (eq "local" @pagination)}}
      <table.tfoot as |foot|>
        <foot.row as |row|>
          <row.cell colspan={{table.columns.length}}>
            <div class="d-flex justify-content-between align-items-center">
              <span>
                Viewing
                <strong
                >{{table.paginationData.pageStart}}-{{table.paginationData.pageEnd}}</strong>
                of
                <strong>{{@data.length}}</strong>
                results
              </span>
              <ButtonSet class="justify-content-end">
                <Button
                  @text={{@previousText}}
                  disabled={{table.paginationData.isFirstPage}}
                  {{on "click" table.actions.previousPage}}
                />
                <Button
                  @text={{@nextText}}
                  disabled={{table.paginationData.isLastPage}}
                  {{on "click" table.actions.nextPage}}
                />
              </ButtonSet>
            </div>
          </row.cell>
        </foot.row>
      </table.tfoot>
    {{/if}}
  </YetiTable>
</div>

{{#if (eq "cursor" @pagination)}}
  <ButtonSet class="justify-content-end mt-3">
    {{#if @onPrevious}}
      <Button
        @text={{@previousText}}
        disabled={{not @canPrevious}}
        {{on "click" @onPrevious}}
      />
    {{/if}}
    {{#if @onNext}}
      <Button
        @text={{@nextText}}
        disabled={{not @canNext}}
        {{on "click" @onNext}}
      />
    {{/if}}
  </ButtonSet>
{{else if (eq "offset" @pagination)}}
  <div class="d-flex justify-content-between mt-3">
    <span>
      Viewing
      <strong>{{this.offsetStart}}-{{this.offsetEnd}}</strong>
      of
      <strong>{{@totalItems}}</strong>
      results
    </span>
    {{#if (and (or @page (eq 0 @page)) @totalItems @onChangePage)}}
      <Pagination
        @curPage={{@page}}
        @pageSize={{20}}
        @totalItems={{@totalItems}}
        @nextText={{@nextText}}
        @previousText={{@previousText}}
        @onChange={{@onChangePage}}
      />
    {{/if}}
  </div>
{{/if}}