{{! TODO: avoid duplication }}
{{#if (and @route @model @query)}}
  <LinkTo
    @route={{@route}}
    @model={{@model}}
    @query={{@query}}
    class="nav-link d-flex justify-content-between align-items-center
      {{if @isDisabled 'disabled'}}"
    ...attributes
  >
    <div>
      {{#if @icon}}
        <Icon @icon={{@icon}} @isFixedWidth={{true}} class="me-2" />
      {{/if}}
      {{#if @text}}{{@text}}{{else}}{{yield}}{{/if}}
    </div>
    {{#if @count}}
      <Badge @text="{{@count}}" @isPill={{true}} class="ms-1" />
    {{/if}}
    {{#if @trailingIcon}}
      <Icon @icon={{@trailingIcon}} @isFixedWidth={{true}} class="ms-2" />
    {{/if}}
  </LinkTo>
{{else if (and @route @model)}}
  <LinkTo
    @route={{@route}}
    @model={{@model}}
    class="nav-link d-flex justify-content-between align-items-center
      {{if @isDisabled 'disabled'}}"
    ...attributes
  >
    <div>
      {{#if @icon}}
        <Icon @icon={{@icon}} @isFixedWidth={{true}} class="me-2" />
      {{/if}}
      {{#if @text}}{{@text}}{{else}}{{yield}}{{/if}}
    </div>
    {{#if @count}}
      <Badge @text="{{@count}}" @isPill={{true}} class="ms-1" />
    {{/if}}
    {{#if @trailingIcon}}
      <Icon @icon={{@trailingIcon}} @isFixedWidth={{true}} class="ms-2" />
    {{/if}}
  </LinkTo>
{{else if @route}}
  <LinkTo
    @route={{@route}}
    class="nav-link d-flex justify-content-between align-items-center
      {{if @isDisabled 'disabled'}}"
    ...attributes
  >
    <div>
      {{#if @icon}}
        <Icon @icon={{@icon}} @isFixedWidth={{true}} class="me-2" />
      {{/if}}
      {{#if @text}}{{@text}}{{else}}{{yield}}{{/if}}
    </div>
    {{#if @count}}
      <Badge @text="{{@count}}" @isPill={{true}} class="ms-1" />
    {{/if}}
    {{#if @trailingIcon}}
      <Icon @icon={{@trailingIcon}} @isFixedWidth={{true}} class="ms-2" />
    {{/if}}
  </LinkTo>
{{else if @query}}
  <LinkTo
    @query={{@query}}
    class="nav-link d-flex justify-content-between align-items-center
      {{if @isDisabled 'disabled'}}"
    ...attributes
  >
    <div>
      {{#if @icon}}
        <Icon @icon={{@icon}} @isFixedWidth={{true}} class="me-2" />
      {{/if}}
      {{#if @text}}{{@text}}{{else}}{{yield}}{{/if}}
    </div>
    {{#if @count}}
      <Badge @text="{{@count}}" @isPill={{true}} class="ms-1" />
    {{/if}}
    {{#if @trailingIcon}}
      <Icon @icon={{@trailingIcon}} @isFixedWidth={{true}} class="ms-2" />
    {{/if}}
  </LinkTo>
{{else}}
  <a
    href="#"
    class="nav-link d-flex justify-content-between align-items-center
      {{if @isDisabled 'disabled'}}"
    ...attributes
  >
    <div>
      {{#if @icon}}
        <Icon @icon={{@icon}} @isFixedWidth={{true}} class="me-2" />
      {{/if}}
      {{#if @text}}{{@text}}{{else}}{{yield}}{{/if}}
    </div>
    {{#if @count}}
      <Badge @text="{{@count}}" @isPill={{true}} class="ms-1" />
    {{/if}}
    {{#if @trailingIcon}}
      <Icon @icon={{@trailingIcon}} @isFixedWidth={{true}} class="ms-2" />
    {{/if}}
  </a>
{{/if}}