{{! TODO: avoid duplication }}
{{#if (and @route @model @query)}}
  <LinkTo
    @route={{@route}}
    @model={{@model}}
    @query={{@query}}
    class="nav-link{{if @disabled ' disabled'}}"
    ...attributes
  >
    {{#if @text}}{{@text}}{{else}}{{yield}}{{/if}}
    {{#if @count}}
      <Badge @text="{{@count}}" @pill={{true}} class="ms-1" />
    {{/if}}
  </LinkTo>
{{else if (and @route @model)}}
  <LinkTo
    @route={{@route}}
    @model={{@model}}
    class="nav-link{{if @disabled ' disabled'}}"
    ...attributes
  >
    {{#if @text}}{{@text}}{{else}}{{yield}}{{/if}}
    {{#if @count}}
      <Badge @text="{{@count}}" @pill={{true}} class="ms-1" />
    {{/if}}
  </LinkTo>
{{else if @route}}
  <LinkTo
    @route={{@route}}
    class="nav-link{{if @disabled ' disabled'}}"
    ...attributes
  >
    {{#if @text}}{{@text}}{{else}}{{yield}}{{/if}}
    {{#if @count}}
      <Badge @text="{{@count}}" @pill={{true}} class="ms-1" />
    {{/if}}
  </LinkTo>
{{else if @query}}
  <LinkTo
    @query={{@query}}
    class="nav-link{{if @disabled ' disabled'}}"
    ...attributes
  >
    {{#if @text}}{{@text}}{{else}}{{yield}}{{/if}}
    {{#if @count}}
      <Badge @text="{{@count}}" @pill={{true}} class="ms-1" />
    {{/if}}
  </LinkTo>
{{else}}
  <a href="#" class="nav-link{{if @disabled ' disabled'}}" ...attributes>
    {{#if @text}}{{@text}}{{else}}{{yield}}{{/if}}
    {{#if @count}}
      <Badge @text="{{@count}}" @pill={{true}} class="ms-1" />
    {{/if}}
  </a>
{{/if}}