{{#if (and @route @model @query)}}
  <LinkTo
    @route={{@route}}
    @model={{@model}}
    @query={{@query}}
    class="nav-link {{if @isDisabled 'disabled'}}"
    data-test-nav-item
    ...attributes
  >
    <Nav::Item::Internal
      @text={{@text}}
      @icon={{@icon}}
      @count={{@count}}
      @trailingIcon={{@trailingIcon}}
    >
      {{yield}}
    </Nav::Item::Internal>
  </LinkTo>
{{else if (and @route @model)}}
  <LinkTo
    @route={{@route}}
    @model={{@model}}
    class="nav-link {{if @isDisabled 'disabled'}}"
    data-test-nav-item
    ...attributes
  >
    <Nav::Item::Internal
      @text={{@text}}
      @icon={{@icon}}
      @count={{@count}}
      @trailingIcon={{@trailingIcon}}
    >
      {{yield}}
    </Nav::Item::Internal>
  </LinkTo>
{{else if @route}}
  <LinkTo
    @route={{@route}}
    class="nav-link {{if @isDisabled 'disabled'}}"
    data-test-nav-item
    ...attributes
  >
    <Nav::Item::Internal
      @text={{@text}}
      @icon={{@icon}}
      @count={{@count}}
      @trailingIcon={{@trailingIcon}}
    >
      {{yield}}
    </Nav::Item::Internal>
  </LinkTo>
{{else if @query}}
  <LinkTo
    @query={{@query}}
    class="nav-link {{if @isDisabled 'disabled'}}"
    data-test-nav-item
    ...attributes
  >
    <Nav::Item::Internal
      @text={{@text}}
      @icon={{@icon}}
      @count={{@count}}
      @trailingIcon={{@trailingIcon}}
    >
      {{yield}}
    </Nav::Item::Internal>
  </LinkTo>
{{else}}
  <a
    href="#"
    class="nav-link {{if @isDisabled 'disabled'}}"
    data-test-nav-item
    ...attributes
  >
    <Nav::Item::Internal
      @text={{@text}}
      @icon={{@icon}}
      @count={{@count}}
      @trailingIcon={{@trailingIcon}}
    >
      {{yield}}
    </Nav::Item::Internal>
  </a>
{{/if}}