<dd ...attributes>
  {{#if @alt}}
    {{! TODO: class dne }}
    <span class="text-disabled">
      {{! TODO: string }}
      No
      {{@label}}
    </span>
  {{else}}
    {{#if @value}}
      <Copy @text={{@value}} {{tooltip (concat "Copy " @label)}}>
        {{yield}}
      </Copy>
      <span class="float-end">{{yield to="side"}}</span>
    {{else}}
      {{yield}}
    {{/if}}
  {{/if}}
</dd>