<dd class="d-flex justify-content-between" ...attributes>
  {{#if (or @value (eq false @value) (eq 0 @value))}}
    {{#if @isStatic}}
      {{yield}}
    {{else}}
      <Copy @label="{{@value}}" {{tooltip (concat "Copy " @label)}}>
        {{yield}}
      </Copy>
    {{/if}}
    {{#if (has-block "side")}}
      <div>{{yield to="side"}}</div>
    {{/if}}
  {{else}}
    {{! TODO: class dne }}
    <span class="text-disabled">
      {{! TODO: string }}
      No
      {{@label}}
    </span>
  {{/if}}
</dd>