{{#if (and @route @model)}}
  <LinkTo
    @route={{@route}}
    @model={{@model}}
    class="list-group-item list-group-item-action"
    ...attributes
  >
    {{yield}}
  </LinkTo>
{{else if @route}}
  <LinkTo
    @route={{@route}}
    class="list-group-item list-group-item-action"
    ...attributes
  >
    {{yield}}
  </LinkTo>
{{else if @query}}
  <LinkTo
    @query={{@query}}
    class="list-group-item list-group-item-action"
    ...attributes
  >
    {{yield}}
  </LinkTo>
{{else if @href}}
  <ExternalLink
    @href={{@href}}
    class="list-group-item list-group-item-action"
    ...attributes
  >
    {{yield}}
  </ExternalLink>
{{else if @isAction}}
  <a href="#" class="list-group-item list-group-item-action" ...attributes>
    {{yield}}
  </a>
{{else}}
  <li class="list-group-item" ...attributes>
    {{yield}}
  </li>
{{/if}}