<Form::Label
  @text={{unless @isInputOnly @label}}
  @identifier={{@identifier}}
  @isRequired={{@isRequired}}
/>

<Card as |card|>
  <card.header>
    <Nav class="card-header-tabs">
      <Nav::Item
        @text={{@editorText}}
        class={{if (eq false this.isCode) "active"}}
        data-test-editor
        {{on "click" this.setEditor}}
      />
      <Nav::Item
        @text={{@codeText}}
        class={{if (eq true this.isCode) "active"}}
        data-test-code
        {{on "click" this.setCode}}
      />
    </Nav>
  </card.header>
  <card.body class="p-0">
    {{#if this.isCode}}
      <Form::Textarea
        @value={{@value}}
        @label={{@label}}
        @identifier={{@identifier}}
        @isRequired={{@isRequired}}
        @isInputOnly={{true}}
        @onChange={{@onChange}}
        class="border-0"
        ...attributes
      />
    {{else}}
      <PellEditor
        @value={{this.value}}
        @onChange={{@onChange}}
        data-test-value-editor
        ...attributes
      />
    {{/if}}
  </card.body>
</Card>

{{! hidden input for validation }}
<input
  value="{{this.value}}"
  type="text"
  required={{@isRequired}}
  class="d-none"
  aria-label={{@label}}
/>

<Form::Feedback @text={{@invalidFeedback}} />

{{#each @errors as |error|}}
  <Form::Feedback @text={{error.message}} />
{{/each}}

<Form::Help @text={{@help}} />