<div
  class="form-check
    {{if @inline 'form-check-inline'}}
    {{if @switch 'form-switch'}}"
>
  <Form::Check::Input
    @value={{@value}}
    @label={{@label}}
    @identifier={{@identifier}}
    @required={{@required}}
    @inputOnly={{@inputOnly}}
  />

  <Form::Label
    @text={{unless @inputOnly @label}}
    @identifier={{@identifier}}
    @required={{@required}}
    @isCheck={{true}}
  />

  {{#if (and @isHelpTooltip @help)}}
    <a href="#" tabindex="-1" class="link-secondary" {{tooltip @help}}>
      <Icon @icon="circle-info" />
    </a>
  {{else}}
    <Form::Help @text={{@help}} class="mt-0 mb-2" />
  {{/if}}
</div>