<div
  class="form-check
    {{if @inline 'form-check-inline'}}
    {{if @switch 'form-switch'}}"
>
  <Input
    {{! @glint-ignore }}
    @checked={{@value}}
    @type="checkbox"
    id={{@identifier}}
    class="form-check-input"
    required={{@required}}
    ...attributes
  />

  <label for={{@identifier}} class="form-check-label">
    {{@label}}
    {{#if @required}}
      <span class="text-danger">
        *
      </span>
    {{/if}}
  </label>

  {{#if @helpTooltip}}
    <a href="#" tabindex="-1" class="link-secondary" {{tooltip @helpTooltip}}>
      <FaIcon @icon="circle-info" />
    </a>
  {{/if}}

  <Form::Help @text={{@help}} class="mt-0 mb-2" />
</div>