<div
  class="form-check
    {{if @isInline 'form-check-inline'}}
    {{if @isSwitch 'form-switch'}}
    mb-0"
>
  <Form::Check::Input
    @value={{@value}}
    @label={{@label}}
    @identifier={{@identifier}}
    @isRequired={{@isRequired}}
    @isInputOnly={{@isInputOnly}}
    @onChange={{@onChange}}
    ...attributes
  />

  <Form::Label
    @text={{unless @isInputOnly @label}}
    @identifier={{@identifier}}
    @isRequired={{@isRequired}}
    @isCheck={{true}}
  />

  <Form::Feedback @text={{@invalidFeedback}} />
  <Form::Help @text={{@help}} />
</div>