<Form::Label
  @text={{unless @isInputOnly @label}}
  @identifier={{@identifier}}
  @isRequired={{@isRequired}}
/>

<div class="input-group">
  {{#if @isMonth}}
    <span class="input-group-text">
      1st of
    </span>
  {{/if}}
  <input
    type={{if @isMonth "month" "date"}}
    id={{@identifier}}
    value={{this.value}}
    min={{this.min}}
    max={{this.max}}
    class="form-control {{if @size (concat 'form-control-' @size)}}"
    required={{@isRequired}}
    aria-label={{if @isInputOnly @label}}
    {{on "change" this.change}}
    ...attributes
  />
</div>

<Form::Error @text={{@invalidFeedback}} />
<Form::Help @text={{@help}} />