{{#if @label}}
  <label for={{@identifier}} class="form-label">
    {{@label}}
    {{#if @required}}
      <span class="text-danger">
        *
      </span>
    {{/if}}
  </label>
{{/if}}

<input
  type="date"
  id={{@identifier}}
  value={{this.value}}
  min={{this.min}}
  max={{this.max}}
  class="form-control {{if @size (concat 'form-control-' @size)}}"
  required={{@required}}
  {{on "change" this.change}}
  ...attributes
/>

{{#if @invalidFeedback}}
  <div class="invalid-feedback">
    {{@invalidFeedback}}
  </div>
{{/if}}

{{#if @help}}
  <div class="form-text">
    {{@help}}
  </div>
{{/if}}