<Form::Label
  @text={{@label}}
  @identifier={{@identifier}}
  @required={{@required}}
/>

<input
  type="file"
  id={{@identifier}}
  class="form-control"
  {{! @glint-ignore }}
  required={{@required}}
  {{on "change" this.change}}
  ...attributes
/>

{{#if @invalidFeedback}}
  <div class="invalid-feedback">
    {{@invalidFeedback}}
  </div>
{{/if}}

{{#if @help}}
  <div class="form-text">
    {{@help}}
  </div>
{{/if}}