<Form::Label
  @text={{unless @isInputOnly @label}}
  @identifier={{@identifier}}
  @isRequired={{@isRequired}}
/>

<div
  class="input-group
    {{if @size (concat 'input-group-' @size)}}
    {{if @invalidFeedback 'has-validation'}}"
>
  {{#if (has-block)}}
    <span class="input-group-text">
      {{yield}}
    </span>
  {{/if}}

  <input
    type={{if @type @type "text"}}
    id={{@identifier}}
    value={{@value}}
    class="{{if (eq 'range' @type) 'form-range' 'form-control'}}
      {{if @size (concat 'form-control-' @size)}}
      {{if (eq 'color' @type) 'form-control-color'}}
      {{if @errors 'is-invalid'}}"
    required={{@isRequired}}
    aria-label={{if @isInputOnly @label}}
    {{on "input" this.change}}
    ...attributes
  />

  <Form::Error @text={{@invalidFeedback}} />

  {{#each @errors as |error|}}
    <Form::Error @text={{error.message}} />
  {{/each}}
</div>

<Form::Help @text={{@help}} />