<Form::Label
  @text={{@label}}
  @identifier={{@identifier}}
  @required={{@required}}
/>

<Input
  {{! @glint-ignore }}
  @value={{@value}}
  @type={{if @type @type "text"}}
  id={{@identifier}}
  class="form-control
    {{if @size (concat 'form-control-' @size)}}
    {{if (eq 'color' @type) 'form-control-color'}}
    {{if (eq 'range' @type) 'form-range'}}
    {{if @errors 'is-invalid'}}"
  {{! @glint-ignore }}
  required={{@required}}
  ...attributes
/>

{{#if @invalidFeedback}}
  <div class="invalid-feedback">
    {{@invalidFeedback}}
  </div>
{{/if}}

{{#each @errors as |error|}}
  <div class="invalid-feedback">
    {{error.message}}
  </div>
{{/each}}

<Form::Help @text={{@help}} />