<Card as |card|>
  <card.header class="d-flex justify-content-between align-items-center">
    <Nav class="card-header-tabs">
      <Nav::Item
        @text="Write"
        class={{if (eq false this.isPreview) "active"}}
        data-test-write
        {{on "click" (fn (mut this.isPreview) false)}}
      />
      <Nav::Item
        @text="Preview"
        class={{if (eq true this.isPreview) "active"}}
        data-test-preview
        {{on "click" (fn (mut this.isPreview) true)}}
      />
    </Nav>

    {{#unless this.isPreview}}
      <markdown-toolbar for={{@identifier}}>
        <md-header>
          <Button
            @text="Heading"
            @icon="heading"
            @size="sm"
            @color="light"
            @isIconOnly={{true}}
            {{tooltip "Heading" placement="bottom"}}
          />
        </md-header>
        <md-bold>
          <Button
            @text="Bold"
            @icon="bold"
            @size="sm"
            @color="light"
            @isIconOnly={{true}}
            {{tooltip "Bold" placement="bottom"}}
          />
        </md-bold>
        <md-italic>
          <Button
            @text="Italic"
            @icon="italic"
            @size="sm"
            @color="light"
            @isIconOnly={{true}}
            {{tooltip "Italic" placement="bottom"}}
          />
        </md-italic>
        <md-code>
          <Button
            @text="Code"
            @icon="code"
            @size="sm"
            @color="light"
            @isIconOnly={{true}}
            {{tooltip "Code" placement="bottom"}}
          />
        </md-code>
        <md-link>
          <Button
            @text="Link"
            @icon="link"
            @size="sm"
            @color="light"
            @isIconOnly={{true}}
            {{tooltip "Link" placement="bottom"}}
          />
        </md-link>
        <md-ordered-list>
          <Button
            @text="Numbered list"
            @icon="list-ol"
            @size="sm"
            @color="light"
            @isIconOnly={{true}}
            {{tooltip "Numbered list" placement="bottom"}}
          />
        </md-ordered-list>
        <md-unordered-list>
          <Button
            @text="Unordered list"
            @icon="list-ul"
            @size="sm"
            @color="light"
            @isIconOnly={{true}}
            {{tooltip "Unordered list" placement="bottom"}}
          />
        </md-unordered-list>
      </markdown-toolbar>
    {{/unless}}
  </card.header>
  <card.body class="p-2">
    {{#if this.isPreview}}
      <div class="markdown-input-preview border">
        {{#if @value}}
          <MarkdownToHtml @markdown={{@value}} />
        {{else}}
          Nothing to preview
        {{/if}}
      </div>
    {{else}}
      <Form::Textarea
        @value={{@value}}
        @label={{@label}}
        @identifier={{@identifier}}
        @isRequired={{@isRequired}}
        @invalidFeedback={{@invalidFeedback}}
        @isInputOnly={{true}}
        @onChange={{@onChange}}
        placeholder="Add your comment here…"
        rows="4"
      />
      <p class="small text-secondary mt-2 mb-0">
        <Icon @icon="markdown" @prefix="fab" />
        Markdown is supported
      </p>
    {{/if}}
  </card.body>
</Card>