<Form::Label
  @text={{unless @isInputOnly @label}}
  @identifier={{@identifier}}
  @isRequired={{@isRequired}}
/>

<div
  class="input-group
    {{if @size (concat 'input-group-' @size)}}
    {{if @invalidFeedback 'has-validation'}}"
>
  <span class="input-group-text">
    +1
  </span>
  <Input
    @value={{this.value}}
    @type="tel"
    id={{@identifier}}
    maxlength="14"
    pattern="\([0-9]{3}\) [0-9]{3}-[0-9]{4}"
    autocomplete="tel-national"
    class="form-control"
    required={{@isRequired}}
    aria-label={{if @isInputOnly @label}}
    ...attributes
  />
  <Form::Error @text={{@invalidFeedback}} />
</div>

<Form::Help @text={{@help}} />