<Form::Label
  @text={{@label}}
  @identifier={{@identifier}}
  @required={{@required}}
/>

{{#if @onCreate}}
  <PowerSelectWithCreate
    @options={{@options}}
    @search={{@search}}
    @selected={{@selected}}
    @disabled={{@disabled}}
    @placeholder="Choose&hellip;"
    @renderInPlace={{true}}
    @searchEnabled={{true}}
    @searchField={{@searchField}}
    @searchPlaceholder="Search&hellip;"
    @allowClear={{@allowClear}}
    @showCreatePosition="bottom"
    @onChange={{@onChange}}
    @onCreate={{@onCreate}}
    id={{@identifier}}
    ...attributes
    as |option|
  >
    {{! @glint-ignore }}
    {{yield option}}
  </PowerSelectWithCreate>
{{else}}
  <PowerSelect
    @options={{@options}}
    @search={{@search}}
    @selected={{@selected}}
    @disabled={{@disabled}}
    @placeholder="Choose&hellip;"
    @renderInPlace={{true}}
    @searchEnabled={{true}}
    @searchField={{@searchField}}
    @searchPlaceholder="Search&hellip;"
    @allowClear={{@allowClear}}
    @onChange={{@onChange}}
    id={{@identifier}}
    ...attributes
    as |option|
  >
    {{! @glint-ignore }}
    {{yield option}}
  </PowerSelect>
{{/if}}

{{!-- <Input
  @value={{@selected.content}}
  @type="text"
  required={{@required}}
  class="d-none"
/>
<div class="invalid-feedback">
  {{or @invalidFeedback "Please select a value."}}
</div> --}}

{{#if @help}}
  <Form::Help @text={{@help}} />
{{/if}}