<Form::Label
  @label={{unless @isInputOnly @label}}
  @identifier="{{@identifier}}0"
  @isRequired={{@isRequired}}
/>

<div class="row g-3" ...attributes>

  {{#each @options as |option index|}}
    <div class="col">

      <label class="w-100">
        <Card class="text-center" as |card|>
          {{#if option.imgUrl}}
            <img
              src={{option.imgUrl}}
              alt={{option.label}}
              class="card-img-top"
            />
          {{/if}}
          <card.body>
            {{#if option.icon}}
              <h5 class="card-title">
                <Icon @icon={{option.icon}} />
              </h5>
            {{/if}}
            <h5
              class="card-title {{unless option.help 'mb-0'}}"
            >{{option.label}}</h5>
            {{#if option.help}}
              <p class="card-text">{{option.help}}</p>
            {{/if}}
          </card.body>
          <card.footer>
            <Form::Radio::Input
              @checked={{eq @selected option.value}}
              @name={{@identifier}}
              @identifier="{{@identifier}}{{index}}"
              @isRequired={{@isRequired}}
              {{on "change" (fn @onChange option.value)}}
            />
          </card.footer>
        </Card>
      </label>

    </div>
  {{/each}}
</div>

<Form::Help @label={{@help}} />