<Form::Label
  @text={{@label}}
  @identifier="{{@identifier}}0"
  @required={{@required}}
/>

<div>
  {{#each @options as |option index|}}
    <div class="form-check {{if @inline 'form-check-inline'}}">
      <input
        class="form-check-input"
        type="radio"
        name={{@identifier}}
        id="{{@identifier}}{{index}}"
        checked={{eq @selected option.value}}
        required={{@required}}
        {{on "change" (fn @onChange option.value)}}
        ...attributes
      />

      <Form::Label
        @text={{option.label}}
        @identifier="{{@identifier}}{{index}}"
        @isCheck={{true}}
      />

      <Form::Help @text={{option.help}} class="mt-0" />

      {{#if (and @invalidFeedback (eq (dec @options.length) index))}}
        <Form::Error @text={{@invalidFeedback}} />
      {{/if}}
    </div>
  {{/each}}
</div>

<Form::Help @text={{@help}} />