<Form::Label
  @label={{unless @isInputOnly @label}}
  @identifier="{{@identifier}}0"
  @isRequired={{@isRequired}}
/>

<div>
  {{#each @options as |option index|}}
    <div class="form-check {{if @isInline 'form-check-inline'}}">
      <Form::Radio::Input
        @checked={{eq @selected option.value}}
        @name={{@identifier}}
        @identifier="{{@identifier}}{{index}}"
        @isRequired={{@isRequired}}
        {{on "change" (fn @onChange option.value)}}
        ...attributes
      />

      <Form::Label
        @label={{option.label}}
        @identifier="{{@identifier}}{{index}}"
        @isCheck={{true}}
      />

      <Form::Help @label={{option.help}} class="mt-0" />

      {{#if (and @invalidFeedback (eq (dec @options.length) index))}}
        <Form::Feedback @label={{@invalidFeedback}} />
      {{/if}}
    </div>
  {{/each}}
</div>

<Form::Help @label={{@help}} />