<Form::Label
  @text={{unless @isInputOnly @label}}
  @identifier={{@identifier}}
  @isRequired={{@isRequired}}
/>

<select
  id={{@identifier}}
  class="form-select {{if @size (concat 'form-select-' @size)}}"
  required={{@isRequired}}
  aria-label={{if @isInputOnly @label}}
  {{on "change" this.change}}
  ...attributes
>
  {{#if @chooseText}}
    {{! @glint-expect-error }}
    <option value="" selected={{not @selected}}>
      {{@chooseText}}
    </option>
  {{/if}}
  {{#each @options as |opt index|}}
    {{#if opt.groupLabel}}
      <optgroup label={{opt.groupLabel}}>
        {{#each opt.options as |subOpt subIndex|}}
          <option
            value="{{index}}-{{if
              (or subOpt.value (eq false subOpt.value))
              subIndex
              ''
            }}"
            selected={{eq @selected subOpt.value}}
          >
            {{subOpt.label}}
          </option>
        {{/each}}
      </optgroup>
    {{else if opt.label}}
      <option
        value={{if (or opt.value (eq false opt.value)) index ""}}
        selected={{eq @selected opt.value}}
      >
        {{opt.label}}
      </option>
    {{else}}
      <option
        value={{if (or opt (eq false opt)) index ""}}
        selected={{eq @selected opt}}
      >
        {{opt}}
      </option>
    {{/if}}
  {{/each}}
</select>

<Form::Feedback @text={{@invalidFeedback}} />

{{#each @errors as |error|}}
  <Form::Feedback @text={{error.message}} />
{{/each}}

<Form::Help @text={{@help}} />