<Form::Label
  @text={{unless @isInputOnly @label}}
  @identifier={{@identifier}}
  @isRequired={{@isRequired}}
/>
{{#if @isSimple}}
  <select
    id={{@identifier}}
    class="form-select {{if @size (concat 'form-select-' @size)}}"
    required={{@isRequired}}
    aria-label={{if @isInputOnly @label}}
    {{on "change" (pick "target.value" @onChange)}}
    ...attributes
  >
    {{! @glint-expect-error }}
    <option value="" selected={{not @selected}}>
      {{! TODO: string }}
      Choose&hellip;
    </option>
    {{#each @options as |opt|}}
      <option selected={{eq @selected opt}}>
        {{! @glint-expect-error }}
        {{opt}}
      </option>
    {{/each}}
  </select>
{{else}}
  <select
    id={{@identifier}}
    class="form-select {{if @size (concat 'form-select-' @size)}}"
    required={{@isRequired}}
    aria-label={{if @isInputOnly @label}}
    {{on "change" this.change}}
    ...attributes
  >
    {{#each @options as |opt index|}}
      {{! @glint-expect-error }}
      {{#if opt.groupName}}
        {{! @glint-expect-error }}
        <optgroup label={{opt.groupName}} value={{index}}>
          {{! @glint-expect-error }}
          {{#each opt.options as |_opt i|}}
            <option
              value="{{index}}-{{if
                (or _opt.value (eq false _opt.value))
                i
                ''
              }}"
              selected={{eq @selected _opt.value}}
            >
              {{_opt.label}}
            </option>
          {{/each}}
        </optgroup>
      {{else}}
        <option
          {{! @glint-expect-error }}
          value={{if (or opt.value (eq false opt.value)) index ""}}
          {{! @glint-expect-error }}
          selected={{eq @selected opt.value}}
        >
          {{! @glint-expect-error }}
          {{opt.label}}
        </option>
      {{/if}}
    {{/each}}
  </select>
{{/if}}

<Form::Error @text={{@invalidFeedback}} />
<Form::Help @text={{@help}} />