<Form::Label
  @text={{unless @isInputOnly @label}}
  @identifier={{@identifier}}
  @isRequired={{@isRequired}}
/>

{{#if @isSimple}}
  <select
    id={{@identifier}}
    class="form-select {{if @size (concat 'form-select-' @size)}}"
    required={{@isRequired}}
    aria-label={{if @isInputOnly @label}}
    {{on "change" (pick "target.value" @onChange)}}
    ...attributes
  >
    {{! @glint-expect-error }}
    <option value="" selected={{not @selected}}>
      {{! TODO: string }}
      Choose&hellip;
    </option>
    {{#each @options as |opt|}}
      <option selected={{eq @selected opt}}>
        {{! @glint-expect-error }}
        {{opt}}
      </option>
    {{/each}}
  </select>
{{else}}
  <select
    id={{@identifier}}
    class="form-select {{if @size (concat 'form-select-' @size)}}"
    required={{@isRequired}}
    aria-label={{if @isInputOnly @label}}
    {{on "change" this.change}}
    ...attributes
  >
    {{#each @options as |opt index|}}
      <option
        value={{if (or opt.value (eq false opt.value)) index ""}}
        selected={{eq @selected opt.value}}
      >
        {{opt.label}}
      </option>
    {{/each}}
  </select>
{{/if}}

<Form::Error @text={{@invalidFeedback}} />
<Form::Help @text={{@help}} />