{{#if @route}}
  <LinkTo
    @route={{@route}}
    class="dropdown-item {{if @color (concat 'text-' @color)}}"
    ...attributes
  >
    {{#if @icon}}
      <FaIcon @icon={{@icon}} @fixedWidth={{true}} class="me-1" />
    {{/if}}
    {{@text}}
    {{#if @shortcut}}
      <span class="text-secondary float-end ms-1">{{@shortcut}}</span>
    {{/if}}
  </LinkTo>
{{else if @href}}
  <a
    href={{@href}}
    target="_blank"
    rel="noopener noreferrer"
    class="dropdown-item {{if @color (concat 'text-' @color)}}"
    ...attributes
  >
    {{#if @icon}}
      <FaIcon @icon={{@icon}} @fixedWidth={{true}} class="me-1" />
    {{/if}}
    {{@text}}
    {{#if @shortcut}}
      <span class="text-secondary float-end ms-1">{{@shortcut}}</span>
    {{/if}}
  </a>
{{else}}
  <button
    type="button"
    class="dropdown-item {{if @color (concat 'text-' @color)}}"
    ...attributes
  >
    {{#if @icon}}
      <FaIcon @icon={{@icon}} @fixedWidth={{true}} class="me-1" />
    {{/if}}
    {{@text}}
    {{#if @shortcut}}
      <span class="text-secondary float-end ms-1">{{@shortcut}}</span>
    {{/if}}
  </button>
{{/if}}