{{#if @icon}}
  <Icon @icon={{@icon}} @isFixedWidth={{true}} class="me-1" />
{{/if}}
{{#if @label}}{{@label}}{{/if}}
{{yield}}
<div class="d-inline float-end">
  {{#if @count}}
    <Badge @label="{{@count}}" @isPill={{true}} class="ms-2" />
  {{/if}}
  {{#if @trailingIcon}}
    <Icon @icon={{@trailingIcon}} @isFixedWidth={{true}} class="ms-2" />
  {{/if}}
</div>