<div
  class="progress-bar
    {{if @color (concat 'bg-' @color)}}
    {{if @isStriped 'progress-bar-striped'}}
    {{if @isAnimated 'progress-bar-animated'}}"
  role="progressbar"
  style={{this.style}}
  data-test-progress-bar
  ...attributes
>
  {{#if @isLabeled}}
    {{@value}}%
  {{/if}}
</div>