{{page-title "Design System"}}
{{breadcrumb "First"}}
{{breadcrumb "Second"}}
{{breadcrumb "Third"}}

<Aside
  @title="Design System"
  @logo="https://a3.taia.us/assets/images/logo.svg"
  @route="index"
>
  <:default>
    <LinkTo @route="index" class="nav-link">
      Link 1
    </LinkTo>
    <LinkTo @route="index" class="nav-link">
      Link 2
    </LinkTo>
    <LinkTo @route="index" class="nav-link">
      Link 3
    </LinkTo>
  </:default>

  <:lower>
    <LinkTo @route="index" class="nav-link">
      Link 4
    </LinkTo>
  </:lower>

  <:bottom>
    Bottom
  </:bottom>
</Aside>

<Main class="p-4">
  <Subheading @title="Avatar" />

  <Avatar @id="62f76a6f5a1162f76a6f5a11" @alt="Avatar" />
  <Avatar
    @id="62f76a6f5a1162f76a6f5a12"
    @url="https://riverlegacy.org/wp-content/uploads/2021/07/blank-profile-photo.jpeg"
    @alt="Avatar"
  />

  <Subheading @title="BreadcrumbTrail" />

  <BreadcrumbTrail />

  <Subheading @title="Form::Check" />

  <Form::Check @value={{true}} />

  <Subheading @title="Form::Input" />

  <Form::Input
    @value={{this.value}}
    @label="Label"
    @help="Help"
    @invalidFeedback={{this.invalidFeedback}}
    @identifier="identifier"
    @required={{true}}
    placeholder="Placeholder"
  />

  <Subheading @title="Form::Textarea" />

  <Form::Textarea
    @value={{this.value}}
    @label="Label"
    @help="Help"
    @identifier="identifier"
    @required={{true}}
    placeholder="Placeholder"
  />

  <Subheading @title="Heading" />

  <Heading @title="Heading">
    Right
  </Heading>

  <Heading @title="Heading" @type="Type" @code="code">
    Right
  </Heading>

  <Subheading @title="Placeholder" />

  {{! <Placeholder @icon='xmark' @title='Title' @subtitle='Subtitle' /> }}

  <Subheading @title="PropertyList" />

  <PropertyList as |list|>
    <list.item @key="Key" @value="Value" @alt={{false}}>
      Value
    </list.item>
  </PropertyList>

  <Subheading @title="Subheading" />

  <Subheading @title="Subheading">
    Right
  </Subheading>

  <Subheading @title="StatCard" />

  <StatCard @key="Key" @value="Value" />

  <Subheading @title="Toast" />

  <Toast>
    <:body>Body</:body>
  </Toast>

  <Toast>
    <:title>Title</:title>
    <:body>Body</:body>
  </Toast>

  <Toast @onClose={{this.do}}>
    <:title>Title</:title>
    <:body>Body</:body>
  </Toast>

  <Toast @color="primary" @onClose={{this.do}}>
    {{! <:title>Title</:title> }}
    <:body>Body</:body>
  </Toast>

  <Toast @color="success" @onClose={{this.do}}>
    {{! <:title>Title</:title> }}
    <:body>Body</:body>
  </Toast>

  <Toast @color="warning" @onClose={{this.do}}>
    {{! <:title>Title</:title> }}
    <:body>Body</:body>
  </Toast>

  <Toast @color="danger" @onClose={{this.do}}>
    {{! <:title>Title</:title> }}
    <:body>Body</:body>
  </Toast>

  <Toast>
    <:title>Title</:title>
    <:body>Body</:body>
    <:buttons>
      <Bs::Button @size="sm" @color="light" @onClick={{this.xyz}}>
        Button
      </Bs::Button>
      <Bs::Button @size="sm" @color="link" @onClick={{this.xyz}}>
        Link text
      </Bs::Button>
    </:buttons>
  </Toast>

  Main
</Main>