{{page-title "Design System"}}
{{breadcrumb "Design System" route="application"}}

{{theme this.theme}}

<Aside
  @title="Design System"
  @logo="/logo.svg"
  @route="application"
  @isCollapsed={{this.isCollapsed}}
  @onChange={{fn (mut this.isCollapsed)}}
>
  <:default>
    <Aside::Item @label="Home" @route="index" @icon="house" />
    <Aside::Group @text="Components" @icon="boxes-stacked" @route="comps.index">
      <Aside::Item @label="Accordion" @route="comps.accordion" />
      <Aside::Item @label="Alert" @route="comps.alert" />
      <Aside::Item @label="Aside" @route="comps.aside" />
      <Aside::Item @label="Avatar" @route="comps.avatar" />
      <Aside::Item @label="Badge" @route="comps.badge" />
      <Aside::Item @label="Banner" @route="comps.banner" />
      <Aside::Item @label="Basic table" @route="comps.basic-table" />
      <Aside::Item @label="Breadcrumb trail" @route="comps.breadcrumb-trail" />
      <Aside::Item @label="Button" @route="comps.button" />
      <Aside::Item @label="Button group" @route="comps.button-group" />
      <Aside::Item @label="Button set" @route="comps.button-set" />
      <Aside::Item @label="Calendar" @route="comps.calendar" />
      <Aside::Item @label="Card" @route="comps.card" />
      <Aside::Item @label="Close button" @route="comps.close-button" />
      <Aside::Item @label="Collapse" @route="comps.collapse" />
      <Aside::Item @label="Copy" @route="comps.copy" />
      <Aside::Item @label="Dropdown" @route="comps.dropdown" />
      <Aside::Item @label="External link" @route="comps.external-link" />
      <Aside::Item @label="File type" @route="comps.file-type" />
      <Aside::Item @label="Flyout" @route="comps.flyout" />
      <Aside::Item @label="Form" @route="comps.form" />
      <Aside::Item @label="Heading" @route="comps.heading" />
      <Aside::Item @label="Icon" @route="comps.icon" />
      <Aside::Item @label="List attributes" @route="comps.list-attributes" />
      <Aside::Item @label="List filter" @route="comps.list-filter" />
      <Aside::Item @label="List group" @route="comps.list-group" />
      <Aside::Item @label="List sort" @route="comps.list-sort" />
      <Aside::Item @label="Main" @route="comps.main" />
      <Aside::Item @label="Modal" @route="comps.modal" />
      <Aside::Item @label="Nav" @route="comps.nav" />
      <Aside::Item @label="Pagination" @route="comps.pagination" />
      <Aside::Item @label="Placeholder" @route="comps.placeholder" />
      <Aside::Item @label="Progress" @route="comps.progress" />
      <Aside::Item @label="Property list" @route="comps.property-list" />
      <Aside::Item @label="Ratio" @route="comps.ratio" />
      <Aside::Item @label="Skeleton" @route="comps.skeleton" />
      <Aside::Item @label="Spinner" @route="comps.spinner" />
      <Aside::Item @label="Stat card" @route="comps.stat-card" />
      <Aside::Item @label="Subheading" @route="comps.subheading" />
      <Aside::Item @label="Table" @route="comps.table" />
      <Aside::Item @label="Toast" @route="comps.toast" />
    </Aside::Group>

    <Aside::Item @label="Helpers" @icon="font" @route="helpers" />
    <Aside::Item @label="Modifiers" @icon="code" @route="modifiers" />
    <Aside::Item @label="Utils" @icon="screwdriver-wrench" @route="utils" />

    <Aside::Title @text="Guides" />
    <Aside::Item
      @label="Introduction"
      @icon="book"
      @route="guides.introduction"
    />

    <Aside::Title @text="Examples" />
    <Aside::Item @label="List" @icon="list" @route="list" />
    <Aside::Item @label="Detail" @icon="box" @route="detail" />
    <Aside::Item @label="Form" @icon="table-list" @route="form" />
    <Aside::Item
      @label="Disabled"
      @icon="crop-simple"
      @route="detail"
      class="disabled"
    />
  </:default>
  <:footer>
    <Form::Check
      @value={{this.isDarkTheme}}
      @label="Dark theme"
      @identifier="isDarkTheme"
      @isSwitch={{true}}
      @onChange={{fn (mut this.isDarkTheme)}}
    />
  </:footer>
</Aside>

<Main>
  <Main::TopHeader>
    <div class="d-flex align-items-center gap-3">
      {{#if this.isCollapsed}}
        <Button
          @label="Expand menu"
          @icon="angles-right"
          @color="none"
          @isIconOnly={{true}}
          {{tooltip "Expand menu" trigger="hover"}}
          {{on "click" this.expand}}
        />
      {{/if}}
      <Form::Input
        @value={{this.query}}
        @type="search"
        @label="Search"
        @identifier="search"
        @isInputOnly={{true}}
        @onChange={{fn (mut this.query)}}
        placeholder="Search"
      />
    </div>
  </Main::TopHeader>
  <Main::TopHeader>
    <BreadcrumbTrail />
  </Main::TopHeader>

  {{outlet}}

  <Main::Footer>
    <ExternalLink @href="https://github.com/trusted-american/design-system">
      GitHub
    </ExternalLink>
  </Main::Footer>
</Main>