{{page-title "Design System"}}
{{breadcrumb "Design System" route="application"}}

{{theme this.theme}}

<Aside @title="Design System" @logo="/logo.svg" @route="application">
  <:default>
    <Aside::Item @text="Home" @route="index" @icon="house" />
    <Aside::Group @text="Components" @icon="boxes-stacked" @route="comps.index">
      <Aside::Item @text="Accordion" @route="comps.accordion" />
      <Aside::Item @text="Alert" @route="comps.alert" />
      <Aside::Item @text="Aside" @route="comps.aside" />
      <Aside::Item @text="Avatar" @route="comps.avatar" />
      <Aside::Item @text="Badge" @route="comps.badge" />
      <Aside::Item @text="Banner" @route="comps.banner" />
      <Aside::Item @text="Basic table" @route="comps.basic-table" />
      <Aside::Item @text="Breadcrumb trail" @route="comps.breadcrumb-trail" />
      <Aside::Item @text="Button" @route="comps.button" />
      <Aside::Item @text="Button group" @route="comps.button-group" />
      <Aside::Item @text="Button set" @route="comps.button-set" />
      <Aside::Item @text="Calendar" @route="comps.calendar" />
      <Aside::Item @text="Card" @route="comps.card" />
      <Aside::Item @text="Close button" @route="comps.close-button" />
      <Aside::Item @text="Collapse" @route="comps.collapse" />
      <Aside::Item @text="Copy" @route="comps.copy" />
      <Aside::Item @text="Dropdown" @route="comps.dropdown" />
      <Aside::Item @text="External link" @route="comps.external-link" />
      <Aside::Item @text="File type" @route="comps.file-type" />
      <Aside::Item @text="Flyout" @route="comps.flyout" />
      <Aside::Item @text="Form" @route="comps.form" />
      <Aside::Item @text="Heading" @route="comps.heading" />
      <Aside::Item @text="Icon" @route="comps.icon" />
      <Aside::Item @text="List filter" @route="comps.list-filter" />
      <Aside::Item @text="List group" @route="comps.list-group" />
      <Aside::Item @text="Main" @route="comps.main" />
      <Aside::Item @text="Modal" @route="comps.modal" />
      <Aside::Item @text="Nav" @route="comps.nav" />
      <Aside::Item @text="Pagination" @route="comps.pagination" />
      <Aside::Item @text="Placeholder" @route="comps.placeholder" />
      <Aside::Item @text="Progress" @route="comps.progress" />
      <Aside::Item @text="Property list" @route="comps.property-list" />
      <Aside::Item @text="Ratio" @route="comps.ratio" />
      <Aside::Item @text="Skeleton" @route="comps.skeleton" />
      <Aside::Item @text="Spinner" @route="comps.spinner" />
      <Aside::Item @text="Stat card" @route="comps.stat-card" />
      <Aside::Item @text="Subheading" @route="comps.subheading" />
      <Aside::Item @text="Table" @route="comps.table" />
      <Aside::Item @text="Toast" @route="comps.toast" />
    </Aside::Group>

    <Aside::Item @text="Helpers" @icon="font" @route="helpers" />
    <Aside::Item @text="Modifiers" @icon="code" @route="modifiers" />
    <Aside::Item @text="Utils" @icon="screwdriver-wrench" @route="utils" />

    <Aside::Title @text="Guides" />
    <Aside::Item
      @text="Introduction"
      @icon="book"
      @route="guides.introduction"
    />

    <Aside::Title @text="Examples" />
    <Aside::Item @text="List" @icon="list" @route="list" />
    <Aside::Item @text="Detail" @icon="box" @route="detail" />
    <Aside::Item @text="Form" @icon="table-list" @route="form" />
    <Aside::Item
      @text="Disabled"
      @icon="crop-simple"
      @route="detail"
      class="disabled"
    />
  </:default>
  <:footer>
    <Form::Check
      @value={{this.isDarkTheme}}
      @label="Dark theme"
      @identifier="isDarkTheme"
      @isSwitch={{true}}
      @onChange={{fn (mut this.isDarkTheme)}}
    />
  </:footer>
</Aside>

<Main>
  <Main::TopHeader>
    Search
  </Main::TopHeader>

  <Main::TopHeader>
    <BreadcrumbTrail />
  </Main::TopHeader>

  <Main::Body>
    {{outlet}}
  </Main::Body>

  <Main::Footer>
    <ExternalLink @href="https://github.com/trusted-american/design-system">
      GitHub
    </ExternalLink>
  </Main::Footer>
</Main>