{{page-title "Components"}}
{{breadcrumb "Components"}}

<Heading @title="Components" />

<Subheading @title="Alert" />

<Alert>
  <:title>Title here</:title>
  <:body>Body here</:body>
</Alert>

<Alert @color="success">
  <:title>Title here</:title>
  <:body>Body here</:body>
</Alert>

<Alert @color="success" @icon="info-circle">
  <:title>Title here</:title>
  <:body>Body here</:body>
</Alert>

<Subheading @title="Avatar" />

<Avatar @id="62f76a6f5a1162f76a6f5a11" @alt="Avatar" />
<Avatar
  @id="62f76a6f5a1162f76a6f5a12"
  @url="https://riverlegacy.org/wp-content/uploads/2021/07/blank-profile-photo.jpeg"
  @alt="Avatar"
/>

<Subheading @title="Badge" />

<Badge @text="Default badge" />
<Badge @text="Success badge" @color="success" />
<Badge @text="Success badge with icon" @color="success" @icon="check" />

<Subheading @title="BreadcrumbTrail" />

<BreadcrumbTrail />

<Subheading @title="Button" />

<Button @text="Default button" {{on "click" this.do}} />
<Button @text="Success button" @color="success" {{on "click" this.do}} />
<Button
  @text="Success button with icon"
  @color="success"
  @icon="plus"
  {{on "click" this.do}}
/>

<Subheading @title="ExternalLink" />

<ExternalLink @url="https://www.google.com/">
  https://www.google.com/
</ExternalLink>

<Subheading @title="Form::Check" />

<Form::Check @value={{true}} @label="" @identifier="" />

<Subheading @title="Form::DateInput" />

<Form::DateInput
  @value={{this.date}}
  @label="Date"
  @identifier="date"
  @onChange={{fn (mut this.date)}}
/>

<Subheading @title="Form::FileInput" />

<Form::FileInput
  @label="File"
  @identifier="file"
  @onChange={{fn (mut this.file)}}
/>

<Subheading @title="Form::Input" />

<Form::Input
  @value={{this.value}}
  @label="Label"
  @help="Help"
  @invalidFeedback={{this.invalidFeedback}}
  @identifier="identifier"
  @required={{true}}
  placeholder="Placeholder"
/>

<Subheading @title="Form::PhoneInput" />

<Form::PhoneInput
  @value={{this.phone}}
  @label="Phone"
  @identifier="phone"
  @onChange={{fn (mut this.phone)}}
  placeholder="Phone"
/>

<Subheading @title="Form::Radio" />

<Form::Radio
  @options={{array (hash value=true label="Yes") (hash value=false label="No")}}
  @selected={{this.radio}}
  @label="Radio"
  @identifier="radio"
  @onChange={{fn (mut this.radio)}}
/>

<Subheading @title="Form::RadioBtn" />

<Form::RadioBtn
  @options={{array (hash value=true label="Yes") (hash value=false label="No")}}
  @selected={{this.radioBtn}}
  @identifier="radioBtn"
  @onChange={{fn (mut this.radioBtn)}}
/>

<Subheading @title="Form::Select" />

<Form::Select
  @options={{array
    (hash value="active" label="Active")
    (hash value="inactive" label="Inactive")
  }}
  @selected={{this.status}}
  @label="Status"
  @identifier="status"
  @onChange={{fn (mut this.status)}}
/>

<Subheading @title="Form::Textarea" />

<Form::Textarea
  @value={{this.value}}
  @label="Label"
  @help="Help"
  @identifier="identifier"
  @required={{true}}
  placeholder="Placeholder"
/>

<Subheading @title="Heading" />

<Heading @title="Heading">
  Right
</Heading>

<Heading @title="Heading" @type="Type" @code="code">
  Right
</Heading>

<Subheading @title="ListFilter" />

<ListFilter
  @predicates={{array
    (hash
      name="Status"
      key="status"
      value=this.status
      options=(array
        (hash value="active" label="Active")
        (hash value="inactive" label="Inactive")
      )
    )
  }}
  @onChange={{this.do}}
/>

<Subheading @title="Main" />

<Main>
  Main
</Main>

<Subheading @title="Main::Body" />

<Main::Body>
  Body
</Main::Body>

<Subheading @title="Main::Footer" />

<Main::Footer>
  Footer
</Main::Footer>

<Subheading @title="Main::Header" />

<Main::Header>
  <Heading @title="Title" @type="Type" @code="code">
    <Bs::Button @color="primary" {{dropdown}}>Actions</Bs::Button>
    <Bs::Dropdown @align="right" as |dropdown|>
      <dropdown.item>Action 1</dropdown.item>
      <dropdown.item>Action 2</dropdown.item>
      <dropdown.item>Action 3</dropdown.item>
    </Bs::Dropdown>
  </Heading>
</Main::Header>

<Subheading @title="Main::TopHeader" />

<Main::TopHeader>
  TopHeader
</Main::TopHeader>

<Subheading @title="Placeholder" />

{{! <Placeholder @icon='xmark' @title='Title' @subtitle='Subtitle' /> }}

<Subheading @title="PropertyList" />

<PropertyList as |list|>
  <list.item @key="Key 1" @value="Value 1" @alt={{false}}>
    Value 1
  </list.item>
  <list.item @key="Key 2" @value="Value 2" @alt={{false}}>
    Value 2
  </list.item>
  <list.item @key="Key 3" @value="Value 3" @alt={{false}}>
    Value 3
  </list.item>
</PropertyList>

<Subheading @title="Subheading" />

<Subheading @title="Subheading">
  Right
</Subheading>

<Subheading @title="StatCard" />

<div class="row">
  <div class="col">
    <StatCard @key="Key 1" @value="Value 1" />
  </div>
  <div class="col">
    <StatCard @key="Key 2" @value="Value 2" />
  </div>
  <div class="col">
    <StatCard @key="Key 3" @value="Value 3" />
  </div>
</div>

<Subheading @title="Table" />

<Table @data={{this.users}} as |table|>
  <table.header as |header|>
    <header.column @prop="email">
      Email
    </header.column>
    <header.column @prop="firstName">
      First Name
    </header.column>
    <header.column @prop="lastName">
      Last Name
    </header.column>
  </table.header>
  <table.body />
</Table>

<Table @data={{this.users}} @sortable={{true}} as |table|>
  <table.header as |header|>
    <header.column @prop="email" @sort="asc">
      Email
    </header.column>
    <header.column @prop="firstName">
      First Name
    </header.column>
    <header.column @prop="lastName">
      Last Name
    </header.column>
  </table.header>
  <table.body />
</Table>

<Subheading @title="Toast" />

<Toast>
  <:body>Body</:body>
</Toast>

<Toast>
  <:title>Title</:title>
  <:body>Body</:body>
</Toast>

<Toast @onClose={{this.do}}>
  <:title>Title</:title>
  <:body>Body</:body>
</Toast>

<Toast @color="primary" @onClose={{this.do}}>
  <:title>Title</:title>
  <:body>Body</:body>
</Toast>

<Toast @color="success" @onClose={{this.do}}>
  <:title>Title</:title>
  <:body>Body</:body>
</Toast>

<Toast @color="warning" @onClose={{this.do}}>
  <:title>Title</:title>
  <:body>Body</:body>
</Toast>

<Toast @color="danger" @onClose={{this.do}}>
  <:title>Title</:title>
  <:body>Body</:body>
</Toast>

<Toast @onClose={{this.do}}>
  <:title>Title</:title>
  <:body>Body</:body>
  <:buttons>
    <Bs::Button @size="sm" @color="light" @onClick={{this.do}}>
      Button
    </Bs::Button>
    <Bs::Button @size="sm" @color="link" @onClick={{this.do}}>
      Link text
    </Bs::Button>
  </:buttons>
</Toast>