{{page-title "Components"}}
{{breadcrumb "Components"}}

<Heading @title="Components" />

<Subheading @title="Alert" />

<Alert>
  <:body>Body here</:body>
</Alert>

<Alert>
  <:title>Title here</:title>
  <:body>Body here</:body>
</Alert>

<Alert @color="success">
  <:title>Title here</:title>
  <:body>Body here</:body>
</Alert>

<Alert @color="success" @icon="info-circle">
  <:title>Title here</:title>
  <:body>Body here</:body>
</Alert>

<Subheading @title="Aside" />

<Aside
  @title="Title"
  @logo="https://a3.taia.us/assets/images/logo.svg"
  @route="index"
>
  <:default>Default</:default>
  <:lower>Lower</:lower>
  <:bottom>Bottom</:bottom>
</Aside>

<Subheading @title="Aside::Item" />

<Aside::Item @text="Text" @icon="box" @route="index" />

<Subheading @title="Avatar" />

<Avatar @id="62f76a6f5a1162f76a6f5a11" @alt="Avatar" />
<Avatar
  @id="62f76a6f5a1162f76a6f5a12"
  @url="https://riverlegacy.org/wp-content/uploads/2021/07/blank-profile-photo.jpeg"
  @alt="Avatar"
/>

<Subheading @title="Badge" />

<Badge @text="Default badge" />
<Badge @text="Success badge" @color="success" />
<Badge @text="Success badge with icon" @color="success" @icon="check" />

<Subheading @title="BreadcrumbTrail" />

<BreadcrumbTrail />

<Subheading @title="Button" />

<Button @text="Default button" {{on "click" this.do}} />
<Button @text="Success button" @color="success" {{on "click" this.do}} />
<Button
  @text="Success button with icon"
  @color="success"
  @icon="plus"
  {{on "click" this.do}}
/>
<Button
  @text="Success button with trailing icon"
  @color="success"
  @icon="plus"
  @iconTrailing={{true}}
  {{on "click" this.do}}
/>
<Button
  @text="Success button with only icon"
  @icon="plus"
  @iconOnly={{true}}
  @color="success"
  {{on "click" this.do}}
/>
<Button @text="Loading button" @loading={{true}} {{on "click" this.do}} />
<Button @text="Disabled button" disabled {{on "click" this.do}} />

<Subheading @title="ButtonSet" />

<ButtonSet>
  <Button @text="Button 1" {{on "click" this.do}} />
  <Button @text="Button 2" {{on "click" this.do}} />
</ButtonSet>

<Subheading @title="Card" />

<Card @title="Title">
  Content
</Card>

<Card @title="Title">
  <:header>
    <Button @text="Button 1" {{on "click" this.do}} />
  </:header>
  <:default>
    Content
  </:default>
</Card>

<Card @title="Title">
  <:padded>
    Padded content
  </:padded>
</Card>

<Subheading @title="CloseButton" />

<CloseButton />

<Subheading @title="Dropdown" />

<Button @text="Open dropdown" {{dropdown}} />
<Dropdown>
  <Dropdown::Item @text="Edit" @icon="pen" {{on "click" this.do}} />
  <Dropdown::Divider />
  <Dropdown::Item
    @text="Delete"
    @icon="trash"
    @color="danger"
    {{on "click" this.do}}
  />
  <Dropdown::Divider />
  <Dropdown::Item @text="Route" @icon="plus" @route="index" />
  <Dropdown::Item @text="Href" @icon="plus" @href="https://www.google.com/" />
</Dropdown>

<Subheading @title="ExternalLink" />

<ExternalLink @href="https://www.google.com/">
  https://www.google.com/
</ExternalLink>

<Subheading @title="FileType" />

<FileType @name="test.pdf" />
<FileType @name="test.pdf" @size="lg" />

<Subheading @title="Flyout" />

<Button @text="Open flyout" {{on "click" (fn (mut this.showFlyout) true)}} />

{{#if this.showFlyout}}
  <Flyout
    @title="Title"
    {{! @glint-ignore }}
    @onClose={{fn (mut this.showFlyout) false}}
  >
    Body
  </Flyout>
{{/if}}

<Subheading @title="Form::Check" />

<Form::Check @value={{true}} @label="Label" @identifier="checkbox" />

<Subheading @title="Form::DateInput" />

<p>{{timestamp this.date format="date"}}</p>

<Form::DateInput
  @value={{this.date}}
  @label="Date"
  @identifier="date"
  @onChange={{fn (mut this.date)}}
/>

<Subheading @title="Form::FileInput" />

<Form::FileInput
  @label="File"
  @identifier="file"
  @onChange={{fn (mut this.file)}}
/>

<Subheading @title="Form::Input" />

<Form::Input
  @value={{this.value}}
  @label="Label"
  @help="Help"
  @invalidFeedback={{this.invalidFeedback}}
  @identifier="input"
  @required={{true}}
  placeholder="Placeholder"
/>

<Form::Input
  @value={{this.value}}
  @label="Label"
  @identifier="input"
  @inputOnly={{true}}
  placeholder="Input only"
/>

<Subheading @title="Form::PhoneInput" />

<Form::PhoneInput
  @value={{this.phone}}
  @label="Phone"
  @identifier="phone"
  @onChange={{fn (mut this.phone)}}
  placeholder="Phone"
/>

<Subheading @title="Form::Radio" />

<Form::Radio
  @options={{array (hash value=true label="Yes") (hash value=false label="No")}}
  @selected={{this.radio}}
  @label="Radio"
  @identifier="radio"
  @onChange={{fn (mut this.radio)}}
/>

<Subheading @title="Form::RadioButton" />

<Form::RadioButton
  @options={{array (hash value=true label="Yes") (hash value=false label="No")}}
  @selected={{this.radioBtn}}
  @identifier="radioBtn"
  @onChange={{fn (mut this.radioBtn)}}
/>

<Subheading @title="Form::RadioCard" />

<Form::RadioCard
  @options={{array
    (hash
      value=true
      label="Yes"
      icon="check"
      help="With supporting text below as a natural lead-in to additional content."
    )
    (hash
      value=false
      label="No"
      icon="xmark"
      help="With supporting text below as a natural lead-in to additional content."
    )
  }}
  @selected={{this.radioBtn}}
  @label="Label"
  @identifier="radio-card"
  @onChange={{fn (mut this.radioBtn)}}
/>

<Subheading @title="Form::Select" />

<Form::Select
  @options={{array
    (hash value=undefined label="Choose…")
    (hash value="active" label="Active")
    (hash value="inactive" label="Inactive")
  }}
  @selected={{this.status}}
  @label="Status"
  @identifier="status"
  @onChange={{fn (mut this.status)}}
/>

<Subheading @title="Form::Textarea" />

<Form::Textarea
  @value={{this.value}}
  @label="Label"
  @help="Help"
  @identifier="textarea"
  @required={{true}}
  placeholder="Placeholder"
/>

<Subheading @title="Form::TimeInput" />

<p>{{timestamp this.date format="time"}}</p>

<Form::TimeInput
  @value={{this.date}}
  @label="Label"
  @identifier=""
  @onChange={{fn (mut this.date)}}
/>

<Subheading @title="Heading" />

<Heading @title="Heading">
  Right
</Heading>

<Heading @title="Heading" @type="Type" @code="code">
  Right
</Heading>

<Subheading @title="ListFilter" />

<ListFilter
  @predicates={{array
    (hash
      name="Status"
      key="status"
      value=this.status
      options=(array
        (hash value="active" label="Active")
        (hash value="inactive" label="Inactive")
      )
    )
  }}
  @onChange={{this.do}}
/>

<Subheading @title="ListGroup" />

<ListGroup as |listGroup|>
  <listGroup.item class="active">An active item</listGroup.item>
  <listGroup.item>A second item</listGroup.item>
</ListGroup>

<ListGroup as |listGroup|>
  <listGroup.item class="disabled">A disabled item</listGroup.item>
  <listGroup.item>A second item</listGroup.item>
</ListGroup>

<ListGroup @flush={{true}} as |listGroup|>
  <listGroup.item>An item</listGroup.item>
</ListGroup>

<Subheading @title="Loader" />

<Loader />

<Subheading @title="Main" />

<Main>
  Main
</Main>

<Subheading @title="Main::Body" />

<Main::Body>
  Body
</Main::Body>

<Subheading @title="Main::Footer" />

<Main::Footer>
  Footer
</Main::Footer>

<Subheading @title="Main::Header" />

<Main::Header>
  <Heading @title="Title" @type="Type" @code="code">
    <Button @text="Actions" @color="primary" {{dropdown}} />
    <Bs::Dropdown @align="right" as |dropdown|>
      <dropdown.item>Action 1</dropdown.item>
      <dropdown.item>Action 2</dropdown.item>
      <dropdown.item>Action 3</dropdown.item>
    </Bs::Dropdown>
  </Heading>
</Main::Header>

<Subheading @title="Main::TopHeader" />

<Main::TopHeader>
  TopHeader
</Main::TopHeader>

<Subheading @title="Modal" />

<Button @text="Open modal" {{on "click" (fn (mut this.showModal) true)}} />

{{#if this.showModal}}
  <Modal
    @title="Title"
    {{! @glint-ignore }}
    @onClose={{fn (mut this.showModal) false}}
  >
    Body
  </Modal>
{{/if}}

<Subheading @title="Nav" />

<Nav as |nav|>
  <nav.link-to @route="index" class="nav-link">First</nav.link-to>
  <nav.link-to @route="components" class="nav-link">Second</nav.link-to>
  <nav.link-to @route="index" class="nav-link">Third</nav.link-to>
</Nav>

<Subheading @title="Pagination" />

<p>Page: {{this.page}}</p>

<Pagination
  @curPage={{this.page}}
  @perPage={{3}}
  @totalItems={{10}}
  @onChange={{fn (mut this.page)}}
/>

<Subheading @title="Placeholder" />

<Placeholder
  @icon="xmark"
  @title="Title"
  @subtitle="Subtitle"
  @onClick={{this.do}}
/>

<Subheading @title="PropertyList" />

<PropertyList as |list|>
  <list.item @key="Key 1" @value="Value 1" @alt={{false}}>
    Value 1
  </list.item>
  <list.item @key="Key 2" @value="Value 2" @alt={{false}}>
    Value 2
  </list.item>
  <list.item @key="Key 3" @value="Value 3" @alt={{false}}>
    Value 3
  </list.item>
</PropertyList>

<Subheading @title="Skeleton" />

<Skeleton class="col-6" />

<Subheading @title="StatCard" />

<div class="row">
  <div class="col">
    <StatCard @key="Key 1" @value="Value 1" />
  </div>
  <div class="col">
    <StatCard @key="Key 2" @value="Value 2" />
  </div>
  <div class="col">
    <StatCard @key="Key 3" @value="Value 3" />
  </div>
</div>

<Subheading @title="Subheading" />

<Subheading @title="Subheading">
  Right
</Subheading>

<Subheading @title="Table" />

<Table @data={{this.users}} as |table|>
  <table.header as |header|>
    <header.column @prop="email">
      Email
    </header.column>
    <header.column @prop="firstName">
      First Name
    </header.column>
    <header.column @prop="lastName">
      Last Name
    </header.column>
  </table.header>
  <table.body />
</Table>

<Table @data={{this.users}} @sortable={{true}} as |table|>
  <table.header as |header|>
    <header.column @prop="email" @sort="asc">
      Email
    </header.column>
    <header.column @prop="firstName">
      First Name
    </header.column>
    <header.column @prop="lastName">
      Last Name
    </header.column>
  </table.header>
  <table.body />
</Table>

<Table @data={{this.users}} @sortable={{true}} @pagination="local" as |table|>
  <table.header as |header|>
    <header.column @prop="email" @sort="asc">
      Email
    </header.column>
    <header.column @prop="firstName">
      First Name
    </header.column>
    <header.column @prop="lastName">
      Last Name
    </header.column>
  </table.header>
  <table.body />
</Table>

<Table
  @data={{this.users}}
  @sortable={{true}}
  @pagination="remote"
  @canNext={{false}}
  @canPrevious={{false}}
  @onNext={{this.do}}
  @onPrevious={{this.do}}
  as |table|
>
  <table.header as |header|>
    <header.column @prop="email" @sort="asc">
      Email
    </header.column>
    <header.column @prop="firstName">
      First Name
    </header.column>
    <header.column @prop="lastName">
      Last Name
    </header.column>
  </table.header>
  <table.body />
</Table>

<Subheading @title="Toast" />

<Toast>
  <:body>Body</:body>
</Toast>

<Toast>
  <:title>Title</:title>
  <:body>Body</:body>
</Toast>

<Toast @onClose={{this.do}}>
  <:title>Title</:title>
  <:body>Body</:body>
</Toast>

<Toast @color="primary" @onClose={{this.do}}>
  <:title>Title</:title>
  <:body>Body</:body>
</Toast>

<Toast @color="success" @onClose={{this.do}}>
  <:title>Title</:title>
  <:body>Body</:body>
</Toast>

<Toast @color="warning" @onClose={{this.do}}>
  <:title>Title</:title>
  <:body>Body</:body>
</Toast>

<Toast @color="danger" @onClose={{this.do}}>
  <:title>Title</:title>
  <:body>Body</:body>
</Toast>

<Toast @onClose={{this.do}}>
  <:title>Title</:title>
  <:body>Body</:body>
  <:buttons>
    <Button @text="Button" @size="sm" @color="light" {{on "click" this.do}} />
    <Button @text="Link text" @size="sm" @color="link" {{on "click" this.do}} />
  </:buttons>
</Toast>