{{page-title "Example"}}
{{breadcrumb "Example"}}

<Heading @title="Example">
  <ButtonSet>
    <Form::Input
      @value={{this.search}}
      @type="search"
      @label="Search"
      @identifier="search"
      @inputOnly={{true}}
      placeholder="Search"
    />
    <Button @text="Filter" {{on "click" this.do}} />
    <Button @text="Sort" {{on "click" this.do}} />
    <Button @text="Export" {{on "click" this.do}} />
    <Button @text="Create" @color="primary" {{on "click" this.do}} />
  </ButtonSet>
</Heading>

<Table
  @data={{this.users}}
  @nextText="Next"
  @previousText="Previous"
  as |table|
>
  <table.header as |header|>
    <header.column @prop="email">
      Email
    </header.column>
    <header.column @prop="firstName">
      First Name
    </header.column>
    <header.column @prop="lastName">
      Last Name
    </header.column>
  </table.header>
  <table.body />
</Table>