{{page-title "Form"}}
{{breadcrumb "Form"}}

<Main::Body>
  <Heading @title="Form" />

  <form novalidate {{on "submit" this.submit}}>
    <div class="mb-3">
      <Form::Input
        @value={{this.value}}
        @label="Label"
        @identifier="input"
        @isRequired={{true}}
        @help="This is an example of help."
        @invalidFeedback="This is an example of invalid feedback."
        @onChange={{fn (mut this.value)}}
        placeholder="Placeholder"
      />
    </div>
    <div class="mb-3">
      <Form::Textarea
        @value={{this.value}}
        @label="Label"
        @identifier="textarea"
        @isRequired={{true}}
        @help="This is an example of help."
        @invalidFeedback="This is an example of invalid feedback."
        @onChange={{fn (mut this.value)}}
        placeholder="Placeholder"
      />
    </div>
    <div class="mb-3">
      <Form::Check
        @value={{this.check}}
        @label="Label"
        @identifier="check"
        @isRequired={{true}}
        @help="This is an example of help."
        @invalidFeedback="This is an example of invalid feedback."
        @onChange={{fn (mut this.check)}}
      />
    </div>
    <div class="mb-3">
      <Form::PowerSelect
        @options={{array "A" "B" "C"}}
        @selected={{this.value}}
        @label="Label"
        @identifier="powerSelect"
        @isRequired={{true}}
        @help="This is an example of help."
        @invalidFeedback="This is an example of invalid feedback."
        @chooseLabel="Choose…"
        @searchLabel="Search…"
        @onChange={{fn (mut this.value)}}
        as |value|
      >
        {{value}}
      </Form::PowerSelect>
    </div>
    <div class="mb-3">
      <Form::Input
        @value={{this.value}}
        @label="Label"
        @identifier="input"
        @isRequired={{true}}
        @help="This is an example of help."
        @invalidFeedback="This is an example of invalid feedback."
        @onChange={{fn (mut this.value)}}
        placeholder="Placeholder"
      >
        <:actions>
          <Button @label="Test" />
        </:actions>
      </Form::Input>
    </div>
    <Button @label="Submit" @isSubmit={{true}} @color="primary" />
  </form>
</Main::Body>