{{page-title "Helpers"}}
{{breadcrumb "Helpers"}}

<Main::Body>
  <Heading @title="Helpers" />

  <Subheading @title="File size" />

  <Snippet @name="file-size.hbs">
    {{! BEGIN-SNIPPET file-size }}
    {{file-size 1234}}
    {{! END-SNIPPET }}
  </Snippet>

  <Subheading @title="From now" />

  <Snippet @name="from-now.hbs">
    {{! BEGIN-SNIPPET from-now }}
    {{from-now this.date}}
    {{! END-SNIPPET }}
  </Snippet>

  <Subheading @title="HTML safe" />

  <Snippet @name="html-safe.hbs">
    {{! BEGIN-SNIPPET html-safe }}
    {{html-safe "<em>Test</em>"}}
    {{! END-SNIPPET }}
  </Snippet>

  <Subheading @title="Theme" />

  <Snippet @name="theme.hbs">
    {{! BEGIN-SNIPPET theme }}
    {{theme this.theme}}

    <Form::Check
      @value={{this.isDarkTheme}}
      @label="Dark theme"
      @identifier="isDarkTheme"
      @isSwitch={{true}}
      @onChange={{fn (mut this.isDarkTheme)}}
    />
    {{! END-SNIPPET }}
  </Snippet>

  <Subheading @title="Timestamp" />

  <Snippet @name="timestamp.hbs">
    {{! BEGIN-SNIPPET timestamp }}
    <ul>
      <li>{{timestamp this.date}}</li>
      <li>{{timestamp this.date utc=true}}</li>
      <li>{{timestamp this.date format="date"}}</li>
      <li>{{timestamp this.date format="time"}}</li>
      <li>{{timestamp this.date format="numberDate"}}</li>
      <li>{{timestamp this.date format="year"}}</li>
      <li>{{timestamp this.date format="full"}}</li>
    </ul>
    {{! END-SNIPPET }}
  </Snippet>
  <Subheading @title="Phone Number" />

  <Snippet @name="phone.hbs">
    {{! BEGIN-SNIPPET phone }}
    <div>{{phone-number "1234567890"}}</div>
    {{! END-SNIPPET }}
  </Snippet>
</Main::Body>