{{page-title "Helpers"}}
{{breadcrumb "Helpers"}}
{{theme this.theme}}

<Heading @title="Helpers" />

<Subheading @title="file-size" />

<p>{{file-size 1234}}</p>

<Subheading @title="from-now" />

<p>{{from-now this.date}}</p>

<Subheading @title="html-safe" />

<p>{{html-safe "<em>Test</em>"}}</p>

<Subheading @title="theme" />

<Form::Check
  @value={{this.isDarkTheme}}
  @label=""
  @identifier="isDarkTheme"
  @isSwitch={{true}}
  @onChange={{fn (mut this.isDarkTheme)}}
/>

<br />

<Subheading @title="timestamp" />

<ul>
  <li>{{timestamp this.date}}</li>
  <li>{{timestamp this.date format="date"}}</li>
  <li>{{timestamp this.date format="time"}}</li>
  <li>{{timestamp this.date format="numberDate"}}</li>
  <li>{{timestamp this.date format="year"}}</li>
  <li>{{timestamp this.date format="full"}}</li>
  <li>{{timestamp this.date utc=true}}</li>
</ul>