{{page-title "List"}}
{{breadcrumb "List"}}

<Main::Body>
  <Heading @title="List">
    <ButtonSet>
      <Form::Input
        @value={{this.search}}
        @type="search"
        @label="Search"
        @identifier="search"
        @isInputOnly={{true}}
        @onChange={{fn (mut this.search)}}
        placeholder="Search…"
      />
      <Button @label="Filter" {{on "click" this.click}} />
      <Button @label="Sort" {{on "click" this.click}} />
      <Button @label="Export" {{on "click" this.click}} />
      <Button @label="Create" @color="primary" {{on "click" this.click}} />
    </ButtonSet>
  </Heading>

  <Table
    @data={{this.users}}
    @nextText="Next"
    @previousText="Previous"
    @viewingText="Viewing"
    @ofText="of"
    @resultsText="results"
    as |table|
  >
    <table.header as |header|>
      <header.column @prop="email">
        Email
      </header.column>
      <header.column @prop="firstName">
        First Name
      </header.column>
      <header.column @prop="lastName">
        Last Name
      </header.column>
    </table.header>
    <table.body />
  </Table>
</Main::Body>