{{page-title "Modifiers"}}
{{breadcrumb "Modifiers" route="modifiers"}}

<Main::Body>
  <Heading @title="Modifiers" />

  <Subheading @title="Collapse" />

  <p><LinkTo @route="comps.collapse">See collapse component</LinkTo></p>

  <Subheading @title="Dropdown" />

  <Snippet @name="dropdown.hbs">
    {{! BEGIN-SNIPPET dropdown }}
    <Button @label="Open dropdown" {{dropdown}} />
    <Dropdown>
      <Dropdown::Item @label="Item" />
    </Dropdown>
    {{! END-SNIPPET }}
  </Snippet>

  <Subheading @title="Tooltip" />

  <Snippet @name="tooltip.hbs">
    {{! BEGIN-SNIPPET tooltip }}
    <Button
      @label="Tooltip on top"
      {{tooltip (if this.isClicked "Copied!" "Tooltip on top") placement="top"}}
      {{on "click" this.click}}
    />
    <Button
      @label="Tooltip on right"
      {{tooltip "Tooltip on right" placement="right"}}
    />
    <Button
      @label="Tooltip on bottom"
      {{tooltip "Tooltip on bottom" placement="bottom"}}
    />
    <Button
      @label="Tooltip on left"
      {{tooltip "Tooltip on left" placement="left"}}
    />
    <Button
      @label="Tooltip with HTML"
      {{tooltip "<em>Tooltip</em> <u>with</u> <b>HTML</b>" html=true}}
    />
    <Button
      @label="Hover me"
      {{tooltip "This is a tooltip." trigger="hover"}}
    />
    {{! END-SNIPPET }}
  </Snippet>

  {{#if this.isClicked}}
    <p>Copied!</p>
  {{/if}}
</Main::Body>