{{page-title "Utils"}}
{{outlet}}

{{page-title "Utils"}}
{{breadcrumb "Utils"}}

<Heading @title="Utils" />

<Subheading @title="file-type" />

<p>{{this.type}}</p>

<Subheading @title="is-valid-date" />

<p>{{this.isValid}}</p>