<Aside::Item
  @label={{@label}}
  @icon={{@icon}}
  @route={{@route}}
  @trailingIcon="angle-down"
  {{collapse this.id}}
  ...attributes
/>
<Collapse id={{this.id}}>
  <Nav @isPills={{true}} @isVertical={{true}}>
    {{yield}}
  </Nav>
</Collapse>