<Aside::Item
  @text={{@text}}
  @icon={{@icon}}
  @route={{@route}}
  @trailingIcon="angle-down"
  {{collapse this.id}}
  ...attributes
/>
<Collapse id={{this.id}}>
  <nav class="nav nav-pills flex-column">
    {{yield}}
  </nav>
</Collapse>