<Aside::Item
  @text={{@text}}
  @icon={{@icon}}
  @route={{@route}}
  {{collapse this.id}}
/>
<div class="collapse ps-3" id={{this.id}}>
  <nav class="nav nav-pills flex-column">
    {{yield}}
  </nav>
</div>