<Nav::Item
  @route={{@route}}
  @model={{@model}}
  @query={{@query}}
  @icon={{@icon}}
  @count={{@count}}
  @trailingIcon={{@trailingIcon}}
  @isDisabled={{@isDisabled}}
  class="px-2 py-1"
  ...attributes
>

  {{#unless @icon}}
    <Icon @icon="circle" @isFixedWidth={{true}} class="me-1 invisible" />
  {{/unless}}
  <span>{{@label}}</span>
  {{yield}}
</Nav::Item>