<Nav::Item
  @route={{@route}}
  @model={{@model}}
  @query={{@query}}
  @icon={{@icon}}
  @count={{@count}}
  @trailingIcon={{@trailingIcon}}
  @isDisabled={{@isDisabled}}
  class="px-2"
  ...attributes
>
  <span class={{unless @icon "ms-2"}}>{{@text}}</span>
  {{yield}}
</Nav::Item>