<LinkTo @route={{@route}} class="nav-link fw-semibold px-2" ...attributes>
  {{#if @icon}}
    <Icon @icon={{@icon}} @fixedWidth={{true}} class="me-1" />
  {{/if}}
  <span class={{unless @icon "ms-2"}}>{{@text}}</span>
  {{yield}}
</LinkTo>