<Nav::Item
  @route={{@route}}
  @model={{@model}}
  @query={{@query}}
  @count={{@count}}
  @isDisabled={{@isDisabled}}
  class="px-2"
  ...attributes
>
  <div>
    {{#if @icon}}
      <Icon @icon={{@icon}} @isFixedWidth={{true}} class="me-1" />
    {{/if}}
    <span class={{unless @icon "ms-2"}}>{{@text}}</span>
  </div>
  {{yield}}
</Nav::Item>