<Nav::Item
  @route={{@route}}
  @model={{@model}}
  @query={{@query}}
  @disabled={{@disabled}}
  class="px-2"
  ...attributes
>
  {{#if @icon}}
    <Icon @icon={{@icon}} @fixedWidth={{true}} class="me-1" />
  {{/if}}
  <span class={{unless @icon "ms-2"}}>{{@text}}</span>
  {{yield}}
</Nav::Item>