<Nav::Item
  @route={{@route}}
  @model={{@model}}
  @query={{@query}}
  @icon={{@icon}}
  @count={{@count}}
  @trailingIcon={{@trailingIcon}}
  @isDisabled={{@isDisabled}}
  class="px-2 py-1"
  ...attributes
>

  {{#unless @icon}}
    <Icon
      @icon="arrow-turn-down"
      @isFixedWidth={{true}}
      class="me-2 invisible"
    />
  {{/unless}}
  <span>{{@text}}</span>
  {{yield}}
</Nav::Item>