{{page-title "Form HTML input"}}
{{breadcrumb "Form HTML input" route="comps.form.html-input"}}

<Subheading @title="Form HTML input" />

<p>Value: {{this.value}}</p>

<Snippet @name="form-html-input.hbs">
  {{! BEGIN-SNIPPET form-html-input }}
  <Form::HtmlInput
    @value={{this.value}}
    @label="Label"
    @identifier="identifier"
    @isRequired={{true}}
    @help="This is an example of help."
    @invalidFeedback="This is an example of invalid feedback."
    @editorLabel="Editor"
    @codeLabel="Code"
    @onChange={{fn (mut this.value)}}
  />
  {{! END-SNIPPET }}
</Snippet>