{{page-title "Form Markdown input"}}
{{breadcrumb "Form Markdown input" route="comps.form.markdown-input"}}

<Subheading @title="Form Markdown input" />

<p>Value: {{this.value}}</p>

<Snippet @name="form-markdown-input.hbs">
  {{! BEGIN-SNIPPET form-markdown-input }}
  <Form::MarkdownInput
    @value={{this.value}}
    @label="Label"
    @identifier="identifier"
    @isRequired={{true}}
    @help="This is an example of help."
    @invalidFeedback="This is an example of invalid feedback."
    @requiredLabel="Required"
    @writeLabel="Write"
    @previewLabel="Preview"
    @headingLabel="Heading"
    @boldLabel="Bold"
    @italicLabel="Italic"
    @codeLabel="Code"
    @linkLabel="Link"
    @numberedListLabel="Numbered list"
    @unorderedListLabel="Unordered list"
    @onChange={{fn (mut this.value)}}
    placeholder="Add your comment here…"
  />
  {{! END-SNIPPET }}
</Snippet>