{{page-title "Form phone input"}}
{{breadcrumb "Form phone input" route="comps.form.phone-input"}}

<Subheading @title="Form phone input" />

<p>Value: {{this.value}}</p>

<Snippet @name="form-phone-input.hbs">
  {{! BEGIN-SNIPPET form-phone-input }}
  <Form::PhoneInput
    @value={{this.value}}
    @label="Label"
    @identifier="identifier"
    @isRequired={{true}}
    @help="This is an example of help."
    @invalidFeedback="This is an example of invalid feedback."
    @onChange={{fn (mut this.value)}}
    placeholder="Placeholder"
  />
  {{! END-SNIPPET }}
</Snippet>