{{page-title "Form power select"}}
{{breadcrumb "Form power select" route="comps.form.power-select"}}

<Subheading @title="Form power select" />

<p>Value: {{this.value.subject}}</p>

<Snippet @name="form-power-select.hbs">
  {{! BEGIN-SNIPPET form-power-select }}
  <Form::PowerSelect
    @options={{array
      (hash subject="Post A" body="This is the body.")
      (hash subject="Post B" body="This is the body.")
    }}
    @selected={{this.value}}
    @label="Label"
    @identifier="identifier"
    @isRequired={{true}}
    @help="This is an example of help."
    @invalidFeedback="This is an example of invalid feedback."
    @searchField="subject"
    @chooseLabel="Choose…"
    @searchLabel="Search…"
    @onChange={{fn (mut this.value)}}
    as |post|
  >
    {{post.subject}}
  </Form::PowerSelect>
  {{! END-SNIPPET }}
</Snippet>