{{page-title "Form time input"}}
{{breadcrumb "Form time input" route="comps.form.time-input"}}

<Subheading @title="Form time input" />

<p>Value: {{timestamp this.value format="time"}}</p>

<Snippet @name="form-time-input.hbs">
  {{! BEGIN-SNIPPET form-time-input }}
  <Form::TimeInput
    @value={{this.value}}
    @label="Label"
    @identifier="identifier"
    @isRequired={{true}}
    @help="This is an example of help."
    @invalidFeedback="This is an example of invalid feedback."
    @onChange={{fn (mut this.value)}}
  />
  {{! END-SNIPPET }}
</Snippet>